:root {
  --dunkelblau: #001E34;
  --gruen: #55D045;
  --hellgrau: #F7F7F7;
}

* {
  font-family: proxima-soft, sans-serif;
}

body {
  background-color: var(--hellgrau);
  margin: 0px;
}

a {
  color: #55D045;
  font-weight: 800;
  text-decoration: underline;
}

p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  margin: 0px;
}

h2 {
  font-size: 32px;
  line-height: 50px;
  margin: 0px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  line-height: 34px;
  margin: 0px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  line-height: 42px;
  margin: 0px;
}

h5 {
  font-size: 17px;
  font-weight: 800;
  margin: 0px;
}

h6 {
  font-size: 15px;
  font-weight: 800;
  margin: 0px;
}

h2 span {
  font-family: proxima-soft, sans-serif;
  font-weight: 800;
  position: relative;
}

h2 span::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: #55D045;
  position: absolute;
  bottom: -5px;
}

h3 span {
  font-family: proxima-soft, sans-serif;
  font-weight: 800;
  position: relative;
}

h3 span::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: #55D045;
  position: absolute;
  bottom: -5px;
}

.button {
  padding: 11px 100px;
  border: solid #55D045 3px;
  background-color: #55D045;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: ease-in-out 200ms;
}

.button:hover {
  background-color: transparent;
  color: #55D045;
}

.buttonClear {
  color: var(--dunkelblau);
  background-color: transparent;
  border-color: var(--dunkelblau);
}

.buttonClear:hover {
  background-color: var(--dunkelblau);
  color: white;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 88vw;
}

.two-buttons .button {
  margin-top: 0px;
  padding: 11px 40px;
}

.two-buttons .button:first-child {
  margin-right: 20px;
}

.center-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .two-buttons {
    flex-direction: column;
  }

  .two-buttons .button {
    text-align: center;
  }

  .two-buttons .button:first-child {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}
.email-webview {
  width: 100vw;
  padding: 12px 0px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
}

.email-webview p {
  text-align: center;
  font-size: 12px;
  color: var(--dunkelblau);
}

.email-webview a {
  font-weight: 700;
  text-decoration: underline;
}

.newsletter-wrapper {
  width: 600px;
  max-width: 88vw;
  margin: auto;
}

.newsletter-header {
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.newsletter-header-content {
  width: 600px;
  max-width: 88vw;
  margin: 1px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transform: translateZ(1px);
}

.newsletter-header-topic {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.newsletter-header-topic-dots {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.newsletter-header-topic-dots div {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #55D045;
  margin-right: 5px;
}

.newsletter-header-topic span {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dunkelblau);
}

.newsletter-header-logo {
  height: 60px;
  width: 210px;
}

@media only screen and (max-width: 600px) {
  .newsletter-header {
    padding-top: 30px;
  }

  .newsletter-header-background {
    height: 320px;
    object-fit: cover;
  }
}
.newsletter-main {
  background-color: white;
  margin-top: 120px;
  overflow-y: visible;
  overflow-x: hidden;
}

.newsletter-main-intro {
  height: 0px;
  width: 0px;
  border-top: 4vw solid var(--hellgrau);
  border-left: 100vw solid transparent;
  margin-bottom: 60px;
}

.newsletter-main-outro {
  height: 0px;
  width: 0px;
  border-bottom: 4vw solid var(--hellgrau);
  border-left: 100vw solid transparent;
  margin-top: 100px;
}

.newsletter-main-section .newsletter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.newsletter-main-text {
  width: 400px;
  max-width: 60vw;
  position: relative;
}

.newsletter-main-text h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
}

.newsletter-main-text-logo {
  height: 100px;
}

.newsletter-main-text p {
  margin-top: 35px;
}

.newsletter-main-text p span {
  font-size: 17px;
  font-weight: 700;
}

.newsletter-main .two-buttons {
  margin-top: 20px;
}

.newsletter-main-image {
  position: absolute;
  height: 400px;
  min-height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: pink;
}

.newsletter-main-section-right {
  margin-top: 220px;
}

.newsletter-main-section-left .newsletter-wrapper {
  justify-content: flex-start;
}

.newsletter-main-section-right .newsletter-wrapper {
  justify-content: flex-end;
}

.newsletter-main-section-left .newsletter-main-image {
  right: -450px;
  top: -150px;
}

.newsletter-main-section-right .newsletter-main-image {
  left: -450px;
  top: -80px;
}

@media only screen and (max-width: 600px) {
  .newsletter-main-image {
    height: 320px;
    min-height: 320px;
    width: 320px;
  }

  .newsletter-main-section-left .newsletter-main-image {
    right: -350px;
    top: -150px;
  }

  .newsletter-main-section-right .newsletter-main-image {
    left: -370px;
    top: -100px;
  }
}
@media only screen and (max-width: 500px) {
  .newsletter-main-text {
    max-width: 100%;
  }

  .newsletter-main-image {
    height: 250px;
    min-height: 250px;
    width: 250px;
  }

  .newsletter-main-section-left {
    margin-top: 200px;
  }

  .newsletter-main-section-right {
    margin-top: 300px;
  }

  .newsletter-main-section-left .newsletter-main-image {
    right: -90px;
    top: -290px;
  }

  .newsletter-main-section-right .newsletter-main-image {
    left: auto;
    right: -70px;
    top: -220px;
  }
}
.newsletter-infos {
  margin-top: 100px;
}

.newsletter-infos h3 {
  text-transform: uppercase;
  text-align: center;
}

.newsletter-info-field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 70px;
}

.newsletter-info-field-icon {
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: var(--dunkelblau);
  margin-right: 25px;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.newsletter-info-field-icon img {
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newsletter-info-field-text h5 {
  margin-top: 14px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.email-questions {
  border-top: solid 2px #EDF0F2;
  padding-top: 50px;
  margin-top: 200px;
}

.email-questions h5 {
  margin: 0px;
  margin-bottom: 20px;
}

.email-footer {
  margin-top: 70px;
  background-color: white;
  padding-top: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
}

.email-footer-content {
  width: 600px;
  max-width: 88vw;
  margin: 1px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.email-footer img {
  height: 50px;
  width: 50px;
}

.email-footer-unsub {
  text-align: center;
  font-size: 12px;
  margin: auto;
  margin-top: 60px;
  padding: 30px 0px;
  width: 600px;
  max-width: 88vw;
  border-top: solid 2px #EDF0F2;
}

.email-footer-unsub a {
  font-weight: 700;
  opacity: 0.8;
  text-decoration: underline;
}