.single-course,
.single-workshop,
.single-birthday,
.single-event,
.single-holiday_workshop {
	.product__page {
		h6 {
			color: var(--product-color);
		}
		.button.--color-accent {
			background-color: var(--product-color);
		}
	}

	.product__header {
		padding: 1px 0 300px;
		margin-bottom: -300px;

		.wrapper {
			.button--back {
				margin-bottom: 20px;
			}

			.header__content {
				margin-bottom: 80px;
				@include flex-row();
				align-items: center;
				column-gap: 40px;

				.header__text {
					width: 590px;

					.title {
						padding-top: 40px;
						padding-top: 0;
					}

					.subline {
						color: var(--product-color);
					}
				}

				.image {
					width: 320px;
					aspect-ratio: 0.88;
					mask-image: url(../img/website/angebotsseite/product_header_image_mask.png);
					mask-repeat: no-repeat;
					mask-size: contain;
				}
			}
		}
		@media only screen and (max-width: $desktop) {
			padding-bottom: 310px;
			margin-bottom: -330px;

			.wrapper {
				.header__content {
					.image {
						width: 270px;
					}
				}
			}
		}
		@media only screen and (max-width: $tablet) {
			.wrapper {
				.button--back {
					margin-bottom: 30px;
				}
				.header__content {
					margin-bottom: 60px;
					img {
						display: none;
					}
				}
			}
		}
	}

	.product__split {
		margin-top: 130px;
		@include flex-row();
		align-items: stretch;
		column-gap: 60px;
		.product__split__left {
			width: 1px;
			flex: auto;
		}
		.product__split__right {
			min-width: 260px;
			max-width: 260px;
		}
		@media only screen and (max-width: $screen) {
			column-gap: 20px;
		}
		@media only screen and (max-width: $desktop) {
			margin-top: 80px;
			margin-bottom: 60px;
			flex-direction: column-reverse;
			row-gap: 50px;
			.product__split__left {
				width: 100%;
			}
			.product__split__right {
				min-width: unset;
				max-width: unset;
				display: none;
			}
		}
	}

	.product__explanation {
		width: 100%;
		@include flex-column();

		* {
			text-align: center;
		}

		h3 {
			padding: 60px 0 35px;
			width: 100%;
			text-align: center;

			&:first-child {
				padding-top: 0;
			}
		}

		.explanation__list {
			@include flex-column();
			align-items: center;
			row-gap: 20px;

			.list__item {
				padding: 50px;
				background-color: white;
				border-radius: 25px;
				@include box-shadow();
				position: relative;

				h6 {
					padding: 0;

					img {
						margin-right: 8px;
						transform: translateY(-1px);
					}
				}

				h4 {
					padding: 14px 0 0;
				}

				p:first-of-type {
					padding-top: 25px;
				}

				.background__number {
					font-size: 220px;
					font-weight: 600;
					line-height: 0.8;
					color: var(--product-color);
					opacity: 0.1;
					position: absolute;
					left: 60px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		@media only screen and (max-width: $desktop) {
			margin-top: 50px;
		}
		@media only screen and (max-width: $tablet) {
			// padding: 0 20px;
			.explanation__list {
				row-gap: 15px;
				.list__item {
					padding: 35px;
					.background__number {
						font-size: 150px;
					}
				}
			}
		}
	}

	.product__title__box {
		padding: 24px 150px 24px 25px;
		width: 100%;
		@include flex-row();
		align-items: center;
		background-color: white;
		border-radius: 15px;
		@include box-shadow();
		position: relative;
		overflow: hidden;

		div {
			@include flex-column();
			row-gap: 6px;
		}

		h4,
		h6 {
			padding: 0;
			text-align: left;
		}

		img {
			height: calc(100% + 30px);
			width: 140px;
			object-fit: cover;
			opacity: 1;
			mask-image: url(../img/website/angebotsseite/product_header_image_mask.png);
			mask-repeat: no-repeat;
			mask-size: 100% 100%;
			position: absolute;
			top: -15px;
			right: -20px;
			transform: translateY(-2px);
		}

		b {
			font-weight: 700;
		}

		// Responsive
		@media only screen and (max-width: $desktop) {
			padding: 20px 150px 20px 25px;
		}
	}

	.facts__list {
		@include flex-row();
		align-items: stretch;
		flex-wrap: wrap;
		gap: 20px;

		.item {
			padding: 24px 20px 20px 25px;
			width: calc(50% - 10px);
			@include flex-row();
			align-items: center;
			background-color: white;
			border-radius: 15px;
			@include box-shadow();
			div {
				@include flex-column();
				row-gap: 3px;
				h6 {
					padding: 0;
					text-align: left;
				}
				span {
					display: inline-block;
					@include fluid-type(16px, 18px);
					font-weight: 800;
					text-align: left;
				}
			}
			img {
				opacity: 25%;
				transform: translateY(-2px);
			}
		}

		// Responsive
		@media only screen and (max-width: $mobile) {
			gap: 15px;

			.item {
				padding: 21px 20px 17px 22px;
				width: 100%;

				span {
					margin-top: -2px;
				}
			}
		}
	}

	.product__note {
		margin: auto;
		padding-top: 35px;
		max-width: 540px;
		@include fluid-type(13px, 14px);
		text-align: center;
		opacity: 30%;
	}

	.product__info__sticky {
		// margin-top: 100px;
		width: 100%;
		@include flex-column();
		align-items: stretch;
		row-gap: 20px;
		position: sticky;
		position: -webkit-sticky;
		top: 130px;
		.price,
		.days,
		.button {
			box-shadow: 0px 1px 6px rgba(black, 0.1);
		}
		.price,
		.days {
			border-radius: 15px;
		}
		.price {
			padding: 30px;
			padding-top: 25px;
			height: 200px;
			@include flex-column();
			justify-content: flex-start;
			align-items: flex-end;
			background-color: $main;
			position: relative;
			overflow: hidden;

			h3 {
				padding: 0;
				@include fluid-type(31px, 35px);
				letter-spacing: 1px;
				color: white;
			}

			.price__perperson,
			.price__duration {
				@include fluid-type(13px, 14px);
				font-weight: 700;
				text-align: right;
				color: white;
				letter-spacing: 0px;
			}

			.price__from {
				@include fluid-type(13px, 14px);
				opacity: 0.3;
			}

			.price__perperson {
				padding-top: 2px;
				margin-bottom: -3px;
				font-family: $main-font;
			}

			.price__duration {
				@include fluid-type(13px, 14px);
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 0.1px;
				color: var(--product-color);
				font-family: $main-font;
			}

			.price__background {
				color: transparent;
				font-family: futura-pt-bold;
				font-size: 130px;
				line-height: 90px;
				-webkit-text-stroke: 3px white;
				opacity: 0.2;
				pointer-events: none;
				position: absolute;
				right: -12px;
				bottom: -5px;
			}
		}
		.rest {
			width: 100%;
			@include flex-column();
			align-items: stretch;
			row-gap: 20px;
		}
		.days {
			padding: 15px;
			@include flex-column();
			align-items: center;
			justify-content: center;
			row-gap: 10px;
			background-color: white;
			.days__title {
				font-weight: 800;
				text-transform: uppercase;
				//color: var(--product-color);
			}
			.days__list {
				@include flex-row();
				justify-content: center;
				align-items: center;
				column-gap: 8px;
				div {
					height: 10px;
					width: 10px;
					background-color: $main;
					border-radius: 50%;
					span {
						display: none;
					}
					&.--active {
						height: 26px;
						width: 26px;
						background-color: var(--product-color);
						position: relative;
						span {
							display: block;
							font-size: 13px;
							font-weight: 800;
							text-transform: uppercase;
							color: white;
							@include pos-center();
						}
					}
				}
			}
		}
		.button__pricelist {
			margin-top: -10px;
			background-color: white;
		}
		@media only screen and (max-width: $desktop) {
			position: static;
			margin-top: 0;
			@include flex-row();
			align-items: stretch;
			.price {
				width: calc(50% - 10px);
				height: unset;
				padding-bottom: 70px;
				.price__background {
					font-size: 110px;
					bottom: -12px;
					opacity: 0.05;
				}
			}
			.rest {
				width: calc(50% - 10px);
				.days {
					height: 1px;
					flex: auto;
				}
				.button {
					width: 100%;
				}
			}
		}
		@media only screen and (max-width: $mobile) {
			flex-direction: column;
			row-gap: 12px;
			.price {
				padding: 15px 25px 21px;
				height: unset;
				width: 100%;
				.price__background {
					font-size: 130px;
					bottom: -8px;
				}
				.price__duration {
					padding-top: 4px;
				}
			}
			.rest {
				width: 100%;
				row-gap: 12px;
				.days {
					height: unset;
					padding: 12px 20px 16px;
					row-gap: 6px;
				}
			}
		}
	}

	.product__date {
		padding: 20px 23px;
		width: 100%;
		@include flex-row();
		justify-content: space-between;
		align-items: center;
		background-color: white;
		border-radius: 10px;
		border: solid 2px transparent;
		position: relative;
		div {
			min-height: 37px;
			@include flex-column();
			justify-content: center;
			row-gap: 4px;
			h5 {
				padding: 0;
			}
			h6 {
				padding: 0;
			}
			span {
				height: 21px;
				&:last-child {
					margin-top: -7px;
				}
			}
		}
		span {
			opacity: 0.6;
		}
		&:not(.--disabled):hover {
			border-color: var(--product-color);
		}
		&.--selected {
			background-color: $main;
			border-color: transparent;
			div {
				h5 {
					color: white;
				}
				h6 {
					color: var(--accent-color);
				}
			}
			span {
				color: white;
			}
			&:hover {
				border-color: transparent;
			}
		}
		img {
			width: 27px;
			position: absolute;
			top: 50%;
			right: 24px;
			transform: translateY(-50%);
			opacity: 0;
			pointer-events: none;
			&.--visible {
				opacity: 1;
			}
		}
		&,
		img,
		span {
			transition: 300ms $ease_standard;
			transition-property: border-color, opacity;
		}
		&.--disabled {
			cursor: unset;
			pointer-events: none;
		}
	}

	.product__book {
		margin-top: calc(120px - 2.6vw);
		padding: calc(120px + 2.6vw) 0;
		background-color: $main;
		position: relative;
		.border__top,
		.border__bottom {
			width: 100%;
			height: 3vw;
			object-fit: cover;
			position: absolute;
			left: 0;
			bottom: -1px;
			pointer-events: none;
		}
		.border__top {
			top: -1px;
		}
		.border__bottom {
			bottom: -1px;
		}
		.book__content {
			@include flex-row();
			justify-content: space-between;
			align-items: center;
			column-gap: 100px;
			.book__info {
				h2 {
					padding: 0;
					line-height: 1.3;
					color: white;
					img {
						margin-right: 4px;
						height: 22px;
						vertical-align: baseline;
					}
				}
				h4 {
					color: var(--product-color);
				}

				p {
					padding-top: 30px;
					color: white;
				}
			}
			.arrow__right {
				height: 110px;
			}
			.book__dates {
				position: relative;
				.headline {
					padding: 0;
					width: min-content;
					color: white;
					text-align: center;
					white-space: nowrap;
					position: absolute;
					left: 50%;
					top: -40px;
					transform: translateX(-50%);
				}
				.info__badge {
					position: absolute;
					left: 50%;
					top: -65px;
					transform: translateX(-50%);
				}
				.dates__list {
					width: 360px;
					min-width: 320px;
					@include flex-column();
					row-gap: 12px;
					.date {
						@extend .product__date;
						&.--disabled {
							opacity: 75%;
						}
						&:not(.--disabled):hover {
							img {
								opacity: 1;
							}
							span {
								opacity: 0;
							}
						}
					}
					.no__dates__available {
						@include flex-column();
						justify-content: center;
						align-items: center;
						height: 120px;
						width: 100%;
						border-radius: 10px;
						background-color: white;

						span {
							font-size: 16px;
							text-transform: uppercase;
							font-weight: 800;
							color: $main;
						}
					}
				}
			}
		}
		@media only screen and (max-width: $screen) {
			.book__content {
				column-gap: 6vw;
			}
		}
		@media only screen and (max-width: $desktop) {
			margin-top: 2.6vw;
		}
		@media only screen and (max-width: $tablet) {
			padding: calc(60px + 2.6vw) 0 calc(80px + 2.6vw);
			.book__content {
				flex-direction: column;
				.book__info {
					* {
						text-align: center;
						max-width: 500px;
					}
				}
				.arrow__right {
					transform: rotate(90deg);
				}
				.book__dates {
					width: 100%;
					.headline {
						display: none;
					}
					.dates__list {
						margin: auto;
						min-width: unset;
						width: 360px;
						max-width: 100%;
					}
				}
			}
		}
	}

	.faq {
		padding-top: calc(100px - 2.6vw);
		padding-bottom: 80px;
		background-color: var(--product-color);

		.faq__header {
			h2,
			span {
				color: white !important;
			}
		}

		.faq__accordeon {
			gap: 0;

			.accordeon__item {
				* {
					color: white !important;
				}

				.button__plusminus,
				.button__plusminus::before {
					background-color: white;
				}

				.accordeon__content {
					color: white;
				}

				&:not(:last-child) {
					border-bottom: solid 1px rgba(white, 20%) !important;
				}
			}
		}
	}
}
