/*------------------------------------*\
    Feather Icons
\*------------------------------------*/
.feather {
	aspect-ratio: 1/1;
	stroke: white;
	stroke-width: 3.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;

	&.--size {
		&-small {
			width: 18px;
			min-width: 18px;
		}
		&-normal {
			width: 20px;
			min-width: 20px;
		}
		&-large {
			width: 32px;
			min-width: 32px;
		}
	}

	&.--color {
		&-white {
			stroke: white;
		}
		&-accent {
			stroke: $accent;
		}
		&-main {
			stroke: $main;
		}
	}
}
