/* ------------------- */
/* Shop Product Archive
/* ------------------- */

// Variables
$archive-gap: 20px;


.archive .sidebar {
    margin: -20px auto 120px;
}
@media only screen and (max-width: $desktop) {
    .archive .sidebar {
        margin: -60px 0 50px;
    }
}

.tax-product_cat > #main,
.post-type-archive-product > #main {
    padding-bottom: $space-large;
    .woocommerce-info {
        margin-top: 40px;
    }
    .footer {
        margin-top: $space-large;
    }
}

// Hero Banner
.shop-hero-banner--archive {
    border-bottom: solid 5px $accent;
    background-color: transparent !important;
    background-image: linear-gradient(to right,#001e34 0%,#001e34 50%,rgba(0,30,52,0.8) 100%);
    .shop-hero-banner__background-image {
        background-color: $main;
        width: 50%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -2;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .shop-hero-banner__decoration {
        img:nth-of-type(3),
        img:nth-of-type(4),
        img:nth-of-type(5) {
            display: none;
        }
    }
    .shop-hero-banner__content {
        // margin: -20px auto;
        @include flex-row();
        justify-content: flex-start;
        align-items: stretch;
        gap: 70px;
        .category__header__thumbnail {
            width: 350px;
            min-width: 350px;
            min-height: 350px;
            position: relative;
            img {
                height: 100%;
                width: 100%;
                border-radius: 25px;
                object-fit: cover;
                @include pos-center();
            }
        }
        .category__header__content {
            @include flex-column();
            justify-content: center;
            #main {
                padding: 0;
            }
            .page-title {
                padding: 10px 0 0;
                @include font-gooddog();
                -webkit-text-stroke-color: white;
                line-break: anywhere;
                color: white;
            }
            .term-description {
                p {
                    padding-top: 30px;
                    @include fluid-type(14px, 16px);
                    line-height: 170%;
                    font-weight: 400;
                    color: white;
                }
                &.--hide-text {
                    padding-bottom: 26px;
                    position: relative;
                    p {
                        max-height: 170px;
                        overflow: hidden;
                    }
                    .show-more {
                        display: block;
                        color: $accent;
                        font-weight: 600;
                        position: absolute;
                        font-size: 14px;
                        bottom: 0;
                    }
                }
                &:not(.--hide-text) {
                    .show-more {
                        display: none;
                    }
                }
            }
            .shop__subcategories {
                margin-top: 30px;
                padding: 0;
            }
        }
    }
    @media only screen and (max-width: $desktop) {
        .shop-hero-banner__content {
            gap: 50px;
            .category__header__thumbnail {
                width: 310px;
                min-width: 310px;
                min-height: 310px;
            }
        }
    }
    @media only screen and (max-width: $tablet) {
        padding-bottom: 50px !important;
        .shop-hero-banner__content {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            .category__header__thumbnail {
                display: none;
                // min-width: unset;
                // min-height: 60vw;
                // height: 220px;
                // width: 100%;
                // position: relative;
                // img {
                //     height: 100%;
                //     width: 100%;
                //     object-fit: cover;
                //     position: absolute;
                //     left: 0;
                //     top: 0;
                //     transform: none;
                // }
            }
            .category__header__content {
                .shop__subcategories {
                    margin-top: 25px;
                    flex-direction: row;
                    a {
                        width: fit-content;
                    }
                }
            }
            .category__header__thumbnail ~ .category__header__content {
                margin-top: 0;
            }
        }
    }
}


.archive__controls {
    margin-top: 50px;
    padding-bottom: 22px;
    .woocommerce-result-count {
        display: inline-block;
        padding: 12px 0 0;
        @include fluid-type(14px, 16px);
        font-weight: 700;
    }
    .woocommerce-ordering {
        float: right;
        padding: 0;
        select {
            padding: 12px 38px 12px 18px;
            background-color: #f7f7f7;
            border: solid 1px #E3E3E3;
            border-radius: 10px;
            @include fluid-type(14px, 16px);
            font-weight: 700;
            position: relative;
            cursor: pointer;
            &:hover {
                background-color: $lightgray--darken;
            }
        }
    }
}
@media only screen and (max-width: $tablet) {
    .archive__controls {
        margin-top: 21px;
        padding-bottom: 8px;
        .woocommerce-result-count {
            padding: 0 0 15px;
            width: 100%;
            text-align: center;
        }
        .woocommerce-ordering {
            float: unset;
            margin-bottom: 0;
            select {
                padding: 14px 20px;
            }
        }
    }
}


/* ------------------- */
// Product List
/* ------------------- */
.products-archive__list {

    // Products List
    .products {
        margin-top: 20px;
        padding-top: 30px;
        // padding-left: 0;
        @include flex-row();
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: $archive-gap;
        border-top: solid 1px $linegray;
        @media only screen and (max-width: $tablet) {
            row-gap: 30px;
            border-top: none;
            padding-top: 0;
        }
    }
    
    
    
    // Column Control
    .columns-4 {
        .product {
            @include flex-item-width(4, $archive-gap);
             flex: unset;
        }
    }
    .columns-3 {
        .product {
            @include flex-item-width(3, $archive-gap);
             flex: unset;
        }
    }
    .columns-2 {
        .product {
            @include flex-item-width(2, $archive-gap);
             flex: unset;
        }
    }
    @media only screen and (max-width: 850px) {
        .products {
            width: 100%;
        }
        .columns-4, .columns-3, .columns-2 {
            .product {
                @include flex-item-width(2, $archive-gap);
            }
        }
    }
    @media only screen and (max-width: $mobile) {
        .columns-4, .columns-3, .columns-2 {
            margin-left: -1 * $gap - 1px;
            margin-right: -1 * $gap - 1px;
            width: calc(100% + 2 * $gap + 2px);
            max-width: unset;
            border-top: solid #f2f2f2 1px;
            border-bottom: solid #f2f2f2 1px;
            gap: 0;
            .product {
                width: 50%;
                border-radius: 0;
                border: solid #f2f2f2 1px;
                box-shadow: none;
                img {
                    border-radius: 0;
                }
            }
        }
    }
}


/* ------------------- */
// Pagination
/* ------------------- */
.woocommerce-pagination {
    margin-top: 60px;
    ul.page-numbers {
        @include flex-row();
        justify-content: flex-end;
        column-gap: 6px;
        li {
            list-style: none;
            span, 
            a {
                & {
                    display: block;
                    height: 46px;
                    width: 46px;
                    background-color: $lightgray;
                    border: solid 1px $linegray;
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 700;
                    text-align: center;
                    line-height: 44px;
                    transition: all 200ms;
                    &:hover {
                        background-color: $lightgray--darken;
                    }
                }
                &.current {
                    background-color: $accent;
                    border-color: $accent;
                    color: white;
                }
                &.prev,
                &.next {
                    background-color: $main;
                    background-repeat: no-repeat;
                    background-size: 7px;
                    background-position: 50% 50%;
                    text-indent: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    &:hover {
                        background-color: lighten($main, 5%);
                    }
                }
                &.prev {
                    margin-right: 8px;
                    background-image: url("img/shop/arrow_prev_page.svg");
                    
                }
                &.next {
                    margin-left: 8px;
                    background-image: url("img/shop/arrow_next_page.svg");
                }
                &.dots {
                    width: 20px;
                    background-color: transparent;
                    border: none;
                    line-height: 240%;
                    margin: 0 -3px;
                }
            }
        }
    }
}
@media only screen and (max-width: $tablet) {
    .woocommerce-pagination {
        ul.page-numbers li {
            span,
            a {
                height: 41px;
                width: 41px;
                font-size: 15px;
                line-height: 39px;
            }
        }
    }
}
@media only screen and (max-width: 620px) {
    .woocommerce-pagination {
        margin-top: 30px;
        ul.page-numbers {
            justify-content: center;
            li {
                span, a {
                    &.prev {
                        margin-right: 0;
                    }
                    &.next {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}