#coursepage {
  overflow-x: unset;
  ._color-coursecolor {
    background-color: var(--courseColor);
  }

  .link-arrow-underlined::after {
    background-color: var(--courseColor);
  }

  .field-badge {
    background-color: var(--courseColor);
  }

  .header-accent.underline span::after {
    background-color: var(--courseColor);
  }

  img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
  }

  .box-shadow {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }

  .navMobile, .nav {
    -webkit-transform: translateZ(2px);
            transform: translateZ(2px);
  }

  @media only screen and (max-width: 960px) {
    p {
      font-size: 15px;
      line-height: 28px;
    }
  }
  .viewport-desktop {
    display: block;
  }

  .viewport-desktop-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .viewport-mobile, .viewport-mobile-flex {
    display: none;
  }

  @media only screen and (max-width: 960px) {
    .viewport-desktop, .viewport-desktop-flex {
      display: none;
    }

    .viewport-mobile {
      display: block;
    }

    .viewport-mobile-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  .course-page {
    padding-top: 80px;
  }

  @media only screen and (max-width: 960px) {
    .course-page {
      padding-top: 67px;
    }
  }
  .course-page-landing {
    background-color: white;
    padding-top: 1px;
    padding-bottom: calc(60px - 4vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .product-navigation {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: solid #F0F0F0 2px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-navigation .product-navLink {
    font-weight: 500;
    color: $main;
  }
  .product-navigation a:last-child {
    font-weight: 700;
  }
  .product-navigation div {
    width: 8px;
    height: 8px;
    margin: 0px 20px;
    border-radius: 4px;
    background-color: var(--courseColor);
  }
  .product-navigation img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-right: 15px;
  }

  @media only screen and (max-width: 960px) {
    .product-navigation {
      margin-top: 50px;
      margin-bottom: 30px;
      padding-bottom: 12px;
    }
    .product-navigation a {
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
    }
    .product-navigation a:last-child {
      font-weight: 800;
    }
  }
  .course-technique {
    margin-bottom: 50px;
  }

  .course-technique h3 {
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  .course-technique span {
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 400;
  }

  .course-technique p {
    margin-top: 30px;
    max-width: 700px;
  }

  .course-info-right {
    max-width: 26vw;
  }
  .course-info-right .course-info-sticky {
    min-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 123px;
  }
  .course-info-right .course-info-sticky .price {
    height: 200px;
    background-color: $main;
    border-radius: 15px;
    margin-bottom: 12px;
    padding: 22px 30px 0px 0px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .course-info-right .course-info-sticky .price h3 {
    color: white;
    font-size: 35px;
    text-align: right;
    letter-spacing: 1px;
  }
  .course-info-right .course-info-sticky .price p {
    text-align: right;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--courseColor);
    font-family: proxima-soft, sans-serif;
  }
  .course-info-right .course-info-sticky .price span {
    font-family: futura-pt-bold;
    font-size: 130px;
    line-height: 90px;
    font-weight: 700;
    -webkit-text-stroke: 3px white;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    right: -5px;
    bottom: 0px;
  }
  .course-info-right .course-info-sticky .day {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 32px;
    padding: 22px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .course-info-right .course-info-sticky .day p {
    white-space: nowrap;
    font-size: 14px;
    line-height: normal;
    font-weight: 800;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .course-info-right .course-info-sticky .day p span {
    color: var(--courseColor);
  }
  .course-info-right .course-info-sticky .day .day-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .course-info-right .course-info-sticky .day .day-dots div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 6px;
    background-color: $main;
  }
  .course-info-right .course-info-sticky .day .day-dots div.active {
    width: 9px;
    height: 9px;
    background-color: var(--courseColor);
  }
  .course-info-right .course-info-sticky .button:last-child {
    margin-top: 12px;
  }

  @media only screen and (max-width: 960px) {
    .course-info-right .course-info-sticky {
      display: none;
    }
  }
  .course-info-sticky-mobile {
    width: 100vw;
    padding: 3vw;
    background-color: white;
    -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.05);
    border-top: solid $lightgray 3px;
    border-bottom-left-radius: calc(10px + 3vw);
    border-bottom-right-radius: calc(10px + 3vw);
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 66px;
    left: 0px;
    -webkit-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
    -webkit-transform: translateZ(2px);
            transform: translateZ(2px);
    display: none;
  }
  .course-info-sticky-mobile .price {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-right: 2vw;
    padding: 8px 10px 11px 15px;
    background-color: $main;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  .course-info-sticky-mobile .price h5 {
    color: white;
    margin-bottom: -3px;
  }
  .course-info-sticky-mobile .price p {
    color: var(--courseColor);
    font-family: proxima-soft, sans-serif;
    font-size: 10px;
    line-height: normal;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
  }
  .course-info-sticky-mobile .price img {
    height: 120%;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .course-info-sticky-mobile .button {
    border-radius: 10px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding: 19px 0px;
  }
  .course-info-sticky-mobile .button span {
    font-size: 13px;
    text-transform: uppercase;
  }
  .course-info-sticky-mobile .button img {
    height: 14px;
    margin-right: 10px;
    margin-top: 0px;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  .course-info-sticky-mobile.hidden {
    top: -25px;
    opacity: 0;
    pointer-events: none;
  }

  @media only screen and (max-width: 960px) {
    .course-info-sticky-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  .course-see-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .course-see-more span {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--courseColor);
    margin-bottom: 10px;
    font-family: proxima-soft, sans-serif;
  }

  @media only screen and (max-width: 960px) {
    .course-see-more {
      margin-bottom: 25px;
    }

    .course-see-more span {
      font-size: 14px;
    }
  }
  .course-grey {
    width: 100%;
    background-color: $lightgray;
    padding-top: calc(4vw + 50px);
    padding-bottom: calc(130px - 4vw);
    position: relative;
  }

  .course-info {
    width: 1000px;
    max-width: 88vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .course-info-content {
    padding-right: 60px;
    max-width: 64vw;
  }

  @media only screen and (max-width: 960px) {
    .course-grey {
      padding-top: calc(4vw + 70px);
      padding-bottom: calc(30px - 4vw);
    }

    .course-info {
      margin-bottom: calc(70px - 4vw);
    }
  }
  .course-info-divide {
    height: 2px;
    width: calc(100% - 70px);
    margin: 60px auto;
    background-color: $linegray;
  }

  @media only screen and (max-width: 960px) {
    .course-info-divide {
      margin: 50px auto;
      width: calc(100% - 50px);
    }
  }
  .course-info-course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: -20px;
  }
  .course-info-course img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
  }
  .course-info-course h3 {
    margin-top: 35px;
    font-weight: 500;
    text-align: left;
  }
  .course-info-course h3 span {
    text-transform: uppercase;
    font-weight: 800;
  }
  .course-info-course p {
    margin-top: 30px;
  }

  @media only screen and (max-width: 960px) {
    .course-info-course img {
      height: 160px;
      width: 160px;
    }
  }
  .course-info-technique {
    width: 100%;
    padding: 55px 50px;
    padding-bottom: 75px;
    border-radius: 35px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    position: relative;
  }

  .course-info-technique h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .course-info-technique p {
    -webkit-transform: translateZ(1px);
            transform: translateZ(1px);
    margin-bottom: 75px;
  }

  .course-info-technique .link-arrow-underlined {
    position: absolute;
  }

  .course-info-tech-background {
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 35px;
    pointer-events: none;
  }

  @media only screen and (max-width: 960px) {
    .course-info-technique {
      padding: 35px;
      padding-top: 45px;
      padding-bottom: 170px;
    }

    .course-info-technique p {
      margin-bottom: 0px;
    }

    /*.course-info-tech-background {
        height: 180px;
    }*/
  }
  .course-info-contents {
    height: 500px;
  }

  .course-info-benefits {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .course-info-benefit {
    width: 100%;
    padding: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: white;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    position: relative;
    background-color: red;
  }

  .course-info-benefit:first-child {
    margin-top: 0px;
  }

  .course-info-benefit-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 34px;
    -o-object-fit: cover;
      object-fit: cover;
    -o-object-position: center -120px;
      object-position: center -120px;
  }

  .course-info-benefit-gradient {
    height: 100%;
    width: 100%;
    background-image: radial-gradient(ellipse 130% 140% at 122% 109%, transparent, white 75%);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 34px;
  }

  .course-info-benefit-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform: translateZ(1px);
            transform: translateZ(1px);
  }

  .course-info-benefit-header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .course-info-benefit-header-text h4 {
    text-transform: uppercase;
    font-family: proxima-soft, sans-serif;
    white-space: nowrap;
  }

  .course-info-benefit-header-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .course-info-benefit-header-line div {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: 5px;
    width: 10px;
    background-color: var(--courseColor);
  }

  .course-info-benefit-header-line span {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 8px;
    white-space: nowrap;
  }

  .course-info-benefit-toggle {
    -webkit-transition: ease-in-out 200ms;
    transition: ease-in-out 200ms;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .course-info-benefit-content {
    -webkit-transform: translateZ(1px);
            transform: translateZ(1px);
  }

  .course-info-benefit-content p {
    max-width: 350px;
    margin-top: 55px;
    margin-bottom: 10px;
  }

  .course-info-benefit-content span {
    font-weight: 700;
  }

  @media only screen and (max-width: 960px) {
    .course-info-benefit {
      padding: 35px;
      margin-top: 30px;
    }

    .course-info-benefit:first-child {
      margin-top: 0px;
    }

    .course-info-benefit-gradient {
      height: 100%;
      width: 100%;
      background-image: radial-gradient(ellipse at 92vw 290%, rgba(255, 255, 255, 0) 38%, white 85%);
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 34px;
    }

    .course-info-benefit-header-line span {
      font-size: 15px;
    }

    .course-info-benefit-content p {
      max-width: none;
      margin-top: 35px;
      margin-bottom: 5px;
    }
  }
  .course-facts {
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .course-facts h5 {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-family: proxima-soft, sans-serif;
  }
  .course-facts .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .course-facts .list .item {
    margin-left: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .course-facts .list .item:first-child {
    margin-left: 0px;
  }
  .course-facts .list .item div {
    width: 94px;
    height: 94px;
    background-color: white;
    border: solid $lightgray 1px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;
  }
  .course-facts .list .item div img {
    height: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .course-facts .list .item span {
    font-family: proxima-soft, sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 22px;
  }
  .course-facts p {
    max-width: 500px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 40px;
  }

  @media only screen and (max-width: 960px) {
    .course-facts h5 {
      margin-bottom: 10px;
    }
    .course-facts .list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
    }
    .course-facts .list .item {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 20px;
    }
    .course-facts .list .item:first-child {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 20px;
    }
    .course-facts .list .item div {
      width: 80px;
      height: 80px;
    }
    .course-facts .list .item div img {
      height: 33px;
    }
    .course-facts .list .item span {
      font-size: 13px;
      margin-top: 14px;
      font-weight: 700;
    }
    .course-facts p {
      font-size: 13px;
      line-height: 18px;
      margin-top: 25px;
    }
  }
  .course-book {
    width: 100vw;
    background-color: $main;
    position: relative;
  }

  .course-book .paper-structure {
    -webkit-transform: none;
            transform: none;
  }

  .course-book-container {
    width: 100vw;
    padding: calc(4vw + 110px) 0px;
  }

  .course-book-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1000px;
    max-width: 88vw;
    margin: auto;
  }

  .course-book h4 {
    color: white;
    text-transform: uppercase;
    font-family: proxima-soft, sans-serif;
  }

  @media only screen and (max-width: 960px) {
    .course-book-container {
      padding-top: calc(4vw + 70px);
    }

    .course-book-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  .course-book-info {
    width: 400px;
  }

  .course-book-info * {
    color: white;
  }

  .course-book-info h4 {
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .course-book-info h4 img {
    height: 25px;
    margin-right: 15px;
    margin-bottom: 2px;
    pointer-events: none;
  }

  .course-book-info p {
    margin-top: 35px;
  }

  .course-book-info-text span {
    color: var(--courseColor);
    font-weight: 700;
  }

  .course-book-dates-button {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }

  .course-book-dates-button div {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--courseColor);
    position: relative;
  }

  .course-book-dates-button-icon {
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 960px) {
    .course-book-info {
      width: 100%;
    }

    .course-book-info p {
      margin-top: 25px;
    }

    .course-book-dates-button {
      margin-top: 25px;
    }

    .course-book-dates-button div {
      height: 50px;
      width: 50px;
    }

    .course-book-dates-button-icon {
      height: 17px;
    }

    .course-book-dates-button span {
      font-size: 14px;
    }
  }
  .course-book-divide {
    width: 2px;
    border-radius: 2px;
    background-color: white;
    margin: 0px 50px;
  }

  @media only screen and (max-width: 960px) {
    .course-book-divide {
      height: 2px;
      width: 100%;
      margin: 50px 0px;
    }
  }
  .course-book-buttons {
    width: 400px;
  }

  .course-pick-dates {
    margin-top: 35px;
    color: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  @media only screen and (max-width: 960px) {
    .course-book-buttons {
      width: 100%;
    }

    .course-pick-dates {
      margin-top: 25px;
    }
  }
  .course-pick-button {
    width: calc(100% - 6px);
    margin-top: 20px;
    height: 75px;
    background-color: white;
    border-radius: 8px;
    border: solid white 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
  }

  .course-pick-button:first-child {
    margin-top: 0px;
  }

  .course-pick-button span, .course-pick-button-name {
    height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-family: proxima-soft, sans-serif;
  }

  .course-pick-button-name {
    color: white;
    background-color: $main;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
  }

  .course-pick-button-date {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding: 0px 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
    position: relative;
  }

  .course-pick-button-day {
    font-size: 13px;
    color: var(--courseColor);
  }

  .course-pick-button-time {
    font-size: 16px;
    display: block;
    color: $main;
    margin-top: 0px;
    line-height: 18px;
  }

  @media only screen and (max-width: 960px) {
    .course-pick-button {
      margin-top: 18px;
      height: 70px;
    }

    .course-pick-button-name {
      font-size: 15px;
    }

    .course-pick-button-date {
      padding: 0px 25px;
    }

    .course-pick-button-day {
      font-size: 12px;
    }

    .course-pick-button-time {
      font-size: 14px;
    }
  }
  .course-pick-button-arrow {
    height: 28px;
    width: 28px;
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%) scale(0.1);
            transform: translateY(-50%) scale(0.1);
    opacity: 0;
    -webkit-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
  }

  .course-pick-button-arrow {
    height: 28px;
    width: 28px;
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%) scale(0.1);
            transform: translateY(-50%) scale(0.1);
    opacity: 0;
    -webkit-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
  }

  @-webkit-keyframes arrow-pop {
    0% {
      -webkit-transform: translateY(-50%) scale(1);
              transform: translateY(-50%) scale(1);
    }
    50% {
      -webkit-transform: translateY(-50%) scale(0.9);
              transform: translateY(-50%) scale(0.9);
    }
    100% {
      -webkit-transform: translateY(-50%) scale(1);
              transform: translateY(-50%) scale(1);
    }
  }

  @keyframes arrow-pop {
    0% {
      -webkit-transform: translateY(-50%) scale(1);
              transform: translateY(-50%) scale(1);
    }
    50% {
      -webkit-transform: translateY(-50%) scale(0.9);
              transform: translateY(-50%) scale(0.9);
    }
    100% {
      -webkit-transform: translateY(-50%) scale(1);
              transform: translateY(-50%) scale(1);
    }
  }
  .course-pick-button-arrow:hover {
    -webkit-animation-name: arrow-pop;
            animation-name: arrow-pop;
    -webkit-animation-duration: 800ms;
            animation-duration: 800ms;
  }

  .course-pick-button:hover .course-pick-button-arrow {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
    opacity: 1;
  }

  .course-pick-button:hover .course-pick-button-name {
    color: $main;
    width: 0px;
    font-size: 0px;
  }

  .course-pick-button:hover .course-pick-button-name span {
    opacity: 0;
  }

  .course-faq {
    background-color: var(--courseColor);
    padding-top: calc(170px - 4vw);
    padding-bottom: calc(100px + 4vw);
    position: relative;
  }

  .course-faq-wrapper {
    width: 800px;
    max-width: 88vw;
    margin: auto;
  }

  .course-faq h3 {
    text-align: center;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    text-transform: uppercase;
    position: relative;
    color: white;
    margin-bottom: 120px;
  }

  .course-faq h3::after {
    content: "FAQ";
    display: block;
    font-size: 150px;
    font-weight: 700;
    color: white;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .course-faq-question {
    width: 100%;
    padding: 45px 50px 40px 50px;
    margin-bottom: 50px;
    border-radius: 35px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.16)));
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.16));
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .course-faq-question * {
    color: white;
  }

  .course-faq-question img {
    height: 42px;
    position: absolute;
    top: -21px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .course-faq-question h5 {
    margin-bottom: 15px;
    text-align: center;
  }

  .course-faq-question p {
    text-align: center;
  }

  @media only screen and (max-width: 960px) {
    .course-faq {
      padding-top: calc(100px - 4vw);
      padding-bottom: calc(70px + 4vw);
    }

    .course-faq h3 {
      margin-bottom: 80px;
    }

    .course-faq h3::after {
      font-size: 100px;
    }

    .course-faq-question {
      padding: 30px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 50px;
    }

    .course-faq-question img {
      height: 38px;
      top: -19px;
    }

    .course-faq-question h5 {
      margin-bottom: 20px;
    }
  }
  .course-grey-transition {
    height: 40px;
    width: 100vw;
    -o-object-fit: cover;
      object-fit: cover;
  }

  @media only screen and (max-width: 1100px) {
    .course-info-content {
      padding-right: 4vw;
    }
  }
  @media only screen and (max-width: 960px) {
    .course-info-content {
      width: 100%;
      max-width: 100%;
      padding-right: 0px;
    }
  }
  .course-dates-popup {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 10
  }
  .course-dates-popup .course-dates-background {
    position: absolute;
  }
  .course-dates-popup .course-dates-background-left {
    left: 0px;
    top: 0px;
    height: 50px;
  }
  .course-dates-popup .course-dates-background-right {
    right: 0px;
    bottom: 0px;
    width: 30vw;
  }

  @media only screen and (max-width: 1100px) {
    .course-dates-background-right {
      width: 300px;
    }
  }
  .course-dates-wrapper {
    width: 1400px;
    max-width: 88vw;
    height: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .course-dates-close {
    height: 24px;
    position: absolute;
    top: 60px;
    right: 0px;
    cursor: pointer;
  }

  .course-dates-content {
    max-height: calc(100vh - 180px);
    overflow-y: scroll;
    padding-top: 1px;
  }

  .course-dates-content h3 {
    margin-top: 45px;
    margin-bottom: 70px;
    position: relative;
    text-transform: uppercase;
  }

  .course-dates-content h3::after {
    content: "Übersicht";
    display: block;
    font-size: 75px;
    color: var(--courseColor);
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    bottom: -12px;
    left: 0px;
    opacity: 0.2;
  }

  @media only screen and (max-width: 960px) {
    course-dates-wrapper {
      display: block;
    }

    .course-dates-close {
      height: 20px;
      position: absolute;
      top: 30px;
      right: 0px;
      cursor: pointer;
    }

    .course-dates-content {
      max-height: none;
    }

    .course-dates-content h3 {
      margin-bottom: 40px;
    }

    .course-dates-content h3::after {
      font-size: 60px;
      bottom: -11px;
    }
  }
  .course-dates-popup {
    -webkit-transition: 400ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: 400ms cubic-bezier(0.5, 0, 0.5, 1);
  }
  .course-dates-popup .course-dates-background {
    -webkit-transition: 800ms cubic-bezier(0.5, 0, 0.5, 1) 0ms;
    transition: 800ms cubic-bezier(0.5, 0, 0.5, 1) 0ms;
  }
  .course-dates-popup .course-dates-close {
    -webkit-transition: 300ms cubic-bezier(0.5, 0, 0.5, 1) 600ms;
    transition: 300ms cubic-bezier(0.5, 0, 0.5, 1) 600ms;
  }
  .course-dates-popup .course-dates-content {
    -webkit-transition: 300ms cubic-bezier(0.5, 0, 0.5, 1) 600ms;
    transition: 300ms cubic-bezier(0.5, 0, 0.5, 1) 600ms;
  }
  .course-dates-popup.hidden {
    -webkit-transform: translate3d(-50%, -50%, 3px) scale(0.5);
            transform: translate3d(-50%, -50%, 3px) scale(0.5);
    opacity: 0;
    border-radius: 500px;
  }
  .course-dates-popup.hidden .course-dates-background-left {
    top: -100%;
  }
  .course-dates-popup.hidden .course-dates-background-right {
    bottom: -100%;
  }
  .course-dates-popup.hidden .course-dates-close {
    opacity: 0;
  }
  .course-dates-popup.hidden .course-dates-content {
    opacity: 0;
  }

  .course-dates-list {
    width: 1000px;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .course-dates-list-divide {
    width: 100%;
    height: 1px;
    background-color: $linegray;
    margin-top: 45px;
    margin-bottom: 40px;
  }

  .course-dates-list-header {
    width: 100%;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .course-dates-list-header h6 span {
    font-weight: 800;
    color: var(--courseColor);
    text-transform: uppercase;
    margin-right: 6px;
  }

  .course-dates-list-header p {
    font-size: 14px;
    opacity: 0.5;
    font-weight: 500;
    margin-right: 15px;
    text-align: right;
  }

  .course-dates-list-dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .course-dates-list-date {
    border-radius: 8px;
    background-color: $lightgray;
    border: solid $linegray 2px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: calc(25% - 25px);
  }

  .course-dates-list-date p {
    font-family: proxima-soft, sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }

  .course-dates-list-date-double {
    font-size: 18px;
    font-weight: 900;
    color: var(--courseColor);
    margin: 0px 4px;
  }

  .course-dates-list-more {
    border-radius: 100px;
    border-color: $main;
    background-color: $main;
  }

  .course-dates-list-more p {
    color: white;
  }

  @media only screen and (max-width: 960px) {
    .course-dates-list {
      width: 1000px;
      max-width: 100%;
      margin-bottom: 50px;
    }

    .course-dates-list-divide {
      width: 100%;
      height: 1px;
      background-color: $linegray;
      margin-top: 30px;
      margin-bottom: 40px;
    }

    .course-dates-list-header {
      width: 100%;
      margin-bottom: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }

    .course-dates-list-dates {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    .course-dates-list-date {
      margin-right: 0px;
      width: calc(50% - 10px);
      -webkit-box-flex: initial;
          -ms-flex: initial;
              flex: initial;
      margin-bottom: 14px;
    }

    .course-dates-list-date p {
      font-weight: 600;
      font-size: 14px;
      width: 100%;
      text-align: center;
    }

    .course-dates-list-date-double {
      font-size: 16px;
    }
  }
  .divide-section-arrow {
    width: 100vw;
    height: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    position: absolute;
  }

  .divide-section-arrow div {
    height: 100%;
    width: 50%;
  }

  .divide-section-arrow {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
  }

  .divide-section-arrow.down {
    border-top: 4vw solid white;
    top: 0px;
  }

  .divide-section-arrow.up {
    border-bottom: 4vw solid white;
    bottom: 0px;
  }

  .divide-section-arrow.white {
    border-top-color: white;
    border-bottom-color: white;
  }

  .divide-section-arrow.green {
    border-top-color: var(--courseColor);
    border-bottom-color: var(--courseColor);
  }

  .divide-section-arrow.hellgrau {
    border-top-color: $lightgray;
    border-bottom-color: $lightgray;
  }

  .course-page-workshops .course-info-right .course-info-sticky .price {
    margin-bottom: 35px;
  }

  .course-page-birthdays .object-quote {
    margin-top: 110px;
    margin-bottom: calc(130px - 4vw);
  }
  .course-page-birthdays .object-quote .portrait {
    height: 200px;
    width: 200px;
    min-width: 200px;
  }
  .course-page-birthdays .object-quote .texts .name .job {
    right: 363px;
  }
  .course-page-birthdays .course-grey {
    padding-top: 4vw;
  }
  .course-page-birthdays .course-grey .course-info-course {
    margin-top: 0px;
  }
  .course-page-birthdays .course-grey .course-info-divide {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .course-page-birthdays .birthday-schedule h5 {
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  .course-page-birthdays .birthday-schedule .item {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .course-page-birthdays .birthday-schedule .item:last-child {
    margin-bottom: 0px;
  }
  .course-page-birthdays .birthday-schedule .item .number {
    height: 35px;
    width: 35px;
    min-width: 35px;
    border-radius: 50%;
    background-color: $accent;
    position: relative;
  }
  .course-page-birthdays .birthday-schedule .item .number span {
    font-family: proxima-soft, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .course-page-birthdays .birthday-schedule .item .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-top: 5px;
    margin-left: 16px;
  }
  .course-page-birthdays .birthday-schedule .item .content h6 {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 10px;
  }
  .course-page-birthdays .birthday-schedule .item .content .info-badge {
    margin-top: 20px;
  }
  .course-page-birthdays .course-book .content {
    padding-top: calc(60px + 4vw);
    padding-bottom: calc(80px + 4vw);
  }
  .course-page-birthdays .course-book .content h3 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  .course-page-birthdays .course-book .content .birthday-book {
    max-width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .course-page-birthdays .course-book .content .birthday-pack {
    width: 380px;
    padding: 35px 25px 25px 25px;
    border-radius: 25px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .course-page-birthdays .course-book .content .birthday-pack.recommended {
    border: solid 4px $accent;
    padding: 31px 21px 21px 21px;
    margin-left: 40px;
  }
  .course-page-birthdays .course-book .content .birthday-pack h5 {
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .course-page-birthdays .course-book .content .birthday-pack .description {
    line-height: normal;
    font-weight: 600;
    text-align: center;
    margin: 0px 10px 30px 10px;
  }
  .course-page-birthdays .course-book .content .birthday-pack .services {
    width: 260px;
    margin: 0px 20px 35px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .course-page-birthdays .course-book .content .birthday-pack .services div {
    width: 100%;
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .course-page-birthdays .course-book .content .birthday-pack .services div:last-child {
    margin-bottom: 0px;
  }
  .course-page-birthdays .course-book .content .birthday-pack .services div p {
    font-family: proxima-soft, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
  }
  .course-page-birthdays .course-book .content .birthday-pack .services div img {
    margin-top: 6px;
  }
  .course-page-birthdays .course-book .content .birthday-pack .services div.included img {
    height: 12px;
    margin-right: 10px;
  }
  .course-page-birthdays .course-book .content .birthday-pack .services div.excluded {
    opacity: 0.5;
  }
  .course-page-birthdays .course-book .content .birthday-pack .services div.excluded img {
    height: 13px;
    margin-right: 13px;
    opacity: 0.9;
  }
  .course-page-birthdays .course-book .content .birthday-pack .divide {
    height: 2px;
    width: 230px;
    max-width: 100%;
    margin-bottom: 25px;
    border-radius: 2px;
    background-color: $main;
    opacity: 0.05;
  }
  .course-page-birthdays .course-book .content .birthday-pack .info {
    font-family: proxima-soft, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .course-page-birthdays .course-book .content .birthday-pack .info.time-total {
    color: $main;
    margin-bottom: -2px;
  }
  .course-page-birthdays .course-book .content .birthday-pack .info.time-guided {
    color: $accent;
    margin-bottom: 15px;
  }
  .course-page-birthdays .course-book .content .birthday-pack .info.price-extra {
    color: $main;
    opacity: 0.5;
    margin-bottom: 35px;
  }
  .course-page-birthdays .course-book .content .birthday-pack .h2 {
    margin-bottom: 0;
  }
  .course-page-birthdays .course-book .content .birthday-pack .button {
    width: 100%;
  }
  .course-page-birthdays .course-book .content .info-text {
    margin: auto;
    margin-top: 40px;
    line-height: 22px;
    color: white;
    text-align: center;
    width: 550px;
    max-width: 100%;
  }

  @media only screen and (max-width: 960px) {
    .course-page-birthdays .object-quote {
      margin-top: 30px;
      margin-bottom: calc(50px - 4vw);
    }
    .course-page-birthdays .object-quote .header-image-mobile {
      width: 460px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
    .course-page-birthdays .object-quote .header-image-mobile .name {
      margin-bottom: 20px;
    }
    .course-page-birthdays .object-quote .header-image-mobile img {
      margin-left: auto;
      margin-bottom: -20px;
    }
    .course-page-birthdays .object-quote .portrait {
      height: 130px;
      width: 130px;
      min-width: 130px;
    }
    .course-page-birthdays .object-quote .texts .name .job {
      right: 363px;
      white-space: nowrap;
    }
    .course-page-birthdays .course-book .content h3 {
      margin-bottom: 25px;
    }
    .course-page-birthdays .course-book .content .birthday-pack .services {
      margin-bottom: 30px;
    }
    .course-page-birthdays .course-book .content .birthday-pack .services span {
      font-size: 15px;
      margin-bottom: 7px;
    }
    .course-page-birthdays .course-book .content .birthday-pack .services span:last-child {
      margin-bottom: 0px;
    }
    .course-page-birthdays .course-book .content .birthday-pack .services span img {
      display: inline-block;
    }
    .course-page-birthdays .course-book .content .birthday-pack .services .included img {
      height: 11px;
      margin-right: 10px;
    }
    .course-page-birthdays .course-book .content .birthday-pack .services .excluded img {
      height: 12px;
      margin-right: 13px;
    }
    .course-page-birthdays .course-book .content .birthday-pack .divide {
      margin-bottom: 20px;
    }
    .course-page-birthdays .course-book .content .birthday-pack .info {
      font-size: 13px;
    }
    .course-page-birthdays .course-book .content .birthday-pack .info.time-guided {
      margin-bottom: 10px;
    }
    .course-page-birthdays .course-book .content .birthday-pack .info.price-extra {
      margin-bottom: 25px;
    }
    .course-page-birthdays .course-book .content .info-text {
      margin-top: 40px;
      line-height: 20px;
    }
  }
  @media only screen and (max-width: 700px) {
    .course-page-birthdays .course-book .content .scroll-position {
      margin-bottom: auto;
      margin-bottom: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .course-page-birthdays .course-book .content .scroll-position div {
      height: 6px;
      width: 20px;
      border-radius: 3px;
      background-color: white;
      margin-right: 8px;
      -webkit-transition: ease-in-out 200ms;
      transition: ease-in-out 200ms;
    }
    .course-page-birthdays .course-book .content .scroll-position div:last-child {
      margin-right: 0px;
    }
    .course-page-birthdays .course-book .content .scroll-position div.active {
      width: 50px;
      background-color: $accent;
    }
    .course-page-birthdays .course-book .content .birthday-book {
      width: 100vw;
      max-width: 100vw;
      -webkit-transform: translateX(-6vw);
              transform: translateX(-6vw);
      -webkit-box-pack: unset;
          -ms-flex-pack: unset;
              justify-content: unset;
      overflow-x: scroll;
      -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }
    .course-page-birthdays .course-book .content .birthday-book::-webkit-scrollbar {
      display: none;
    }
    .course-page-birthdays .course-book .content .birthday-placeholder {
      min-width: calc((100vw - 310px)/2);
      height: 100px;
      opacity: 0;
      pointer-events: none;
    }
    .course-page-birthdays .course-book .content .birthday-pack {
      width: 330px;
      max-width: 88vw;
      scroll-snap-align: center;
    }
    .course-page-birthdays .course-book .content .birthday-pack.recommended {
      margin-left: 20px;
    }
  }
}