/*------------------------------------*/
/* Woocommerce Single Page */
/*------------------------------------*/

body.single-product {
	overflow: unset;

	> #main {
		padding-bottom: $space-medium;
		overflow: clip;
	}

	.site-main {
		padding-top: 50px !important;

		.woocommerce-breadcrumb {
			display: none;
		}
	}

	.woocommerce-notices-wrapper {
		margin: 0;

		&:not(:empty) {
			margin: 0 auto 40px;

			.woocommerce-message:first-of-type {
				margin-top: 0;
			}
		}
	}

	.split__left {
		position: sticky !important;
		top: 160px;
	}

	.product-gallery {
		.main-slider {
			border: solid 1px $linegray;
			border-radius: 35px;

			img {
				width: 100%;
				aspect-ratio: 4/5;
				object-fit: cover;
			}

			.slider__button {
				position: absolute;
				top: 50%;
				translate: 0 -50%;
				z-index: 1;
				cursor: pointer;

				&.--prev {
					left: -40px;
				}

				&.--next {
					right: -40px;
				}
			}

			&:hover {
				.slider__button {
					&.--prev {
						left: 0px;
					}

					&.--next {
						right: 0px;
					}
				}
			}
		}

		.thumbs-slider {
			margin-top: 15px;

			.swiper-slide {
				border: solid 1px $linegray;
				border-radius: 12px;
				padding: 10px;
				cursor: pointer;
				transition: $transition;

				img {
					width: 100%;
					aspect-ratio: 1/1;
					object-fit: cover;
				}

				&:hover {
					border-color: $accent;
				}

				&.swiper-slide-thumb-active {
					border-color: $main;
				}
			}
		}
	}

	.summary {
		// Felder verstecken
		.in-stock,
		.wc-gzd-additional-info-placeholder:empty,
		.wc-gzd-additional-info.price {
			display: none !important;
		}

		// Badge
		.product__badge {
			margin-bottom: 20px;
			position: relative;
			top: unset;
			left: unset;
		}

		.badge-tooltip {
			margin-bottom: 20px;
			@include flex('row');
			align-items: center;
			gap: 10px;

			.product__badge {
				margin-bottom: 0;
			}
		}

		// Produkttitel
		.product_title {
			@include font-gooddog;
			padding: 0;
		}

		// Kurzbeschreibung
		.short__description {
			padding: 4px 0 10px;
			opacity: 0.6;
			@include fluid-type(14px, 16px);
		}

		// Preis
		.price {
			padding-top: 5px;
			padding-bottom: 50px;
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			gap: 6px;

			bdi {
				@include font-gooddog;
				@include fluid-type(18px, 24px);
			}

			del bdi {
				@include fluid-type(15px, 16px);
			}

			.price-from {
				display: none;
			}
		}

		.out-of-stock,
		.variations_form .out-of-stock {
			@include button;
			background: $lightgray;
			border-color: $linegray;
			color: darkgray !important;
			font-weight: 700 !important;
			cursor: auto;
		}

		.variations_form .out-of-stock {
			white-space: pre-wrap;
			line-height: 1.2em;
		}

		// Variationen
		.variations {
			padding-bottom: 30px;
			// margin-bottom: 80px;
			@include fluid-type(15px, 16px);

			.label {
				font-weight: 800;
				text-transform: uppercase;
				padding-right: 10px;

				span {
					font-weight: 500;
					text-transform: none;
				}
			}

			.value {
				@include flex('row');
				align-items: center;
				column-gap: 8px;

				select {
					padding: 4px 8px;
					background-color: $lightgray;
					border: solid 2px $linegray;
					border-radius: 8px;
					font-weight: 500;
				}

				a {
					visibility: visible;
					display: block;
					padding: 4px 0 4px 20px;
					@include fluid-type(12px, 12px);
					font-weight: 800;
					white-space: nowrap;
					background-image: url(../img/shop/icon_bin.svg);
					background-size: 12px;
					background-repeat: no-repeat;
					background-position: left center;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			tbody {
				tr {
					padding-bottom: 30px;
					@include flex('column');
					position: relative;

					&:last-of-type {
						padding-bottom: 0;
					}

					.label {
						span {
							margin-left: 5px;
						}
					}

					.value {
						@include flex('column');
						margin-top: 15px;

						.variation-selector {
							display: none;
						}

						.tawcvs-swatches {
							@include flex('row');
							flex-wrap: wrap;
							justify-content: flex-start;
							column-gap: 15px;
							row-gap: 15px;
							margin-left: 2px;

							@media only screen and (max-width: $tablet) {
								column-gap: 12px;
								row-gap: 12px;
							}

							.swatch-item-wrapper {
								position: relative;

								&:empty {
									display: none;
								}

								.swatch {
									display: flex;
									align-items: center;
									justify-content: center;
									height: 40px;
									min-width: 40px;
									padding-left: 10px;
									padding-right: 10px;
									border-radius: 8px;
									border: solid $linegray 1px;
									position: relative;
									cursor: pointer;

									&.selected {
										&::after {
											content: '';
											display: block;
											height: calc(100% + 10px);
											width: calc(100% + 10px);
											border-radius: 12px;
											border: solid 2px $main;
											position: absolute;
											top: 50%;
											left: 50%;
											transform: translate(-50%, -50%);
										}
									}

									&.disabled {
										opacity: 0.2;
									}

									&.swatch-color {
										border-radius: 50%;
										&::after {
											border-radius: 50%;
										}
									}
								}

								.swatch__tooltip {
									display: none;
								}
							}
						}

						.swatch-color .text {
							display: none;
						}
					}

					.reset_variations {
						margin-top: 20px;
					}
				}
			}
		}

		// Add to cart Button
		form.cart:not(.variations_form),
		.woocommerce-variation-add-to-cart {
			@include flex('row');
			align-items: stretch;

			.quantity {
				@include flex('column');
				font-size: 16px;
				min-width: 60px;

				span {
					display: none;
				}

				select {
					height: 100%;
					width: 100%;
					padding: 0 3px 0 12px;
					background-color: transparent;
					border: solid 2px black;
					font-weight: 700;
					border-radius: 10px;
					background-position-x: calc(100% - 10px);
				}
			}

			button {
				@extend .--color-main;
				flex: auto;
				margin-left: 10px;
			}
		}

		.woocommerce-variation-add-to-cart {
			margin-top: 70px;

			&.woocommerce-variation-add-to-cart-disabled {
				position: relative;

				&::after {
					content: 'Variante wählen';
					padding-top: 13px;
					height: 100%;
					width: 100%;
					background-color: $lightgray;
					border: solid 1px $linegray;
					border-radius: 8px;
					color: $darkgray;
					font-size: 15px;
					text-align: center;
					font-weight: 700;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}

		// germanized lieferzeit
		.delivery-time-info {
			margin: 20px 0 0;
			padding-left: 22px;
			color: $accent;
			font-weight: 600;
			background-image: url(../img/icons/icon_package_green.svg);
			background-repeat: no-repeat;
			background-size: 18px;
			background-position-y: 2px;
			transform: translateX(-1px);
			font-size: 14px;

			& + #ppcp-messages {
				margin-top: 10px;
			}
		}

		// Paypal text
		#ppcp-messages {
			margin-top: 22px;
		}

		.delivery__info {
			display: none;
			padding-top: 25px;
			font-weight: 500;
		}

		// Stichpunkte
		.product__bulletpoints {
			margin-top: 45px;
			@include flex('column');
			align-items: stretch;

			h4 {
				padding: 0;
				margin-bottom: 12px;
			}

			ul {
				padding: 0;

				li {
					padding: 12px 0;
					@include flex('row');
					justify-content: flex-start;
					gap: 10px;
					border-top: solid $linegray 1px;

					&:first-of-type {
						border-top: none;
					}

					img {
						margin-top: 4px;
					}

					span {
						@include fluid-type(14px, 15px);
						line-height: 1.7;
					}
				}
			}
		}

		// Spruch
		.product__quote {
			margin: 45px 0 15px;

			h4 {
				padding: 0 0 16px;
			}

			blockquote {
				line-height: 1.8;
				position: relative;
				font-style: italic;

				&::before,
				&::after {
					content: '';
					width: 42px;
					height: 32px;
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
				}

				&::before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41.442' height='31.612' viewBox='0 0 41.442 31.612'%3E%3Cpath id='Pfad_1078' data-name='Pfad 1078' d='M13.615-68.425C7.695-63.175,4.12-56.473,4.12-49.1c0,7.261,4.692,11.394,9.942,11.394a8.916,8.916,0,0,0,8.825-8.825c0-4.8-3.351-8.043-7.6-8.043a5.494,5.494,0,0,0-2.234.335c.67-2.793,2.9-6.032,5.585-8.49a3.968,3.968,0,0,0,1.34-2.9,3.843,3.843,0,0,0-3.91-3.686A3.477,3.477,0,0,0,13.615-68.425Zm22.676,0c-5.92,5.25-9.383,11.952-9.383,19.325,0,7.261,4.58,11.394,9.83,11.394a8.843,8.843,0,0,0,8.825-8.825c0-4.8-3.351-8.043-7.484-8.043a5.494,5.494,0,0,0-2.234.335c.559-2.793,2.9-6.032,5.585-8.49a3.873,3.873,0,0,0,1.229-2.9,3.744,3.744,0,0,0-3.8-3.686A3.983,3.983,0,0,0,36.291-68.425Z' transform='translate(45.562 -37.707) rotate(180)' fill='%2355d045' opacity='0.1'/%3E%3C/svg%3E%0A");
					left: 0;
					bottom: 0;
					transform: translateY(50%);
				}

				&::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42.923' height='32.742' viewBox='0 0 42.923 32.742'%3E%3Cpath id='Pfad_1079' data-name='Pfad 1079' d='M9.834.926C3.7,6.363,0,13.3,0,20.941c0,7.52,4.859,11.8,10.3,11.8a9.235,9.235,0,0,0,9.14-9.14c0-4.975-3.471-8.33-7.867-8.33a5.69,5.69,0,0,0-2.314.347c.694-2.892,3.008-6.248,5.785-8.793a4.11,4.11,0,0,0,1.388-3.008A3.981,3.981,0,0,0,12.379,0,3.6,3.6,0,0,0,9.834.926Zm23.486,0C27.188,6.363,23.6,13.3,23.6,20.941c0,7.52,4.743,11.8,10.181,11.8a9.159,9.159,0,0,0,9.14-9.14c0-4.975-3.471-8.33-7.752-8.33a5.69,5.69,0,0,0-2.314.347c.578-2.892,3.008-6.248,5.785-8.793a4.011,4.011,0,0,0,1.273-3.008A3.877,3.877,0,0,0,35.981,0,4.125,4.125,0,0,0,33.32.926Z' fill='%2355d045' opacity='0.1'/%3E%3C/svg%3E ");
					right: 0;
					top: 0;
					transform: translateY(-50%);
				}
			}
		}

		// Akktordeon
		.accordeon {
			margin-top: 50px;
		}
	}

	.products-archive__list {
		margin-top: $space-large;

		.related,
		.products {
			margin: auto;
			padding: 0;
			gap: 0;
			border: none;

			h2.headline {
				margin: auto;
				padding: 0 0 35px;
			}

			.product {
				width: 100%;
			}
		}
	}

	/*------------------------------------*/
	/* Responsive */
	/*------------------------------------*/
	@include bp-higher($desktop) {
		.product-gallery {
			.main-slider {
				.slider__pagination {
					display: none;
				}
			}
		}
	}

	@include bp-lower($desktop) {
		.split__left {
			position: relative !important;
			top: unset;
		}

		.product-gallery {
			.main-slider {
				border: none;
				border-radius: 0;

				.swiper-slide a {
					pointer-events: none;
				}

				img {
					aspect-ratio: unset;
					height: 130vw;
				}

				.slider__button {
					display: none;
				}

				.slider__pagination {
					padding: 15px 25px;
					justify-content: start;
					border-bottom: solid 1px lightgray;
					border-top: solid 1px lightgray;
				}
			}

			.thumbs-slider {
				display: none;
			}
		}
	}

	@include bp-lower($tablet) {
		// TODO: Move to global scope
		.shop-hero-banner {
			padding-bottom: 15px;
		}

		.site-main {
			padding-top: 0 !important;
		}

		.woocommerce-notices-wrapper {
			&:not(:empty) {
				margin: 20px auto;
			}
		}

		.shop__split {
			flex-direction: column;
			row-gap: 20px;

			.split__left {
				margin: 0 0 0 -25px;
				width: 100vw;
			}

			.split__right {
				min-width: unset;
				max-width: unset;
				width: 100%;

				.product__badge {
					margin-bottom: 20px;
				}
			}
		}

		.products-archive__list {
			margin-top: 70px;

			.related,
			.products {
				h2.headline {
					padding-bottom: 30px;
				}
			}
		}
	}
}
