//
.account--order-single {
	.container {
		@include flex('column');
		align-items: stretch;
		gap: 60px;

		@media only screen and (max-width: $desktop) {
			gap: 45px;
		}
	}

	/*------------------------------------*\
    Split left
\   *------------------------------------*/

	.woocommerce-thankyou-order-received {
		margin-bottom: -20px;
		padding: 0;
	}
	.woocommerce-order-overview {
		display: none;
	}

	// order header
	.order__header {
		margin-bottom: -20px;
	}

	// order status
	.order__status {
		padding: 25px 27px;
		border-radius: 15px;
		background-color: white;
		@include dropshadow;

		.order__facts {
			padding-bottom: 20px;
			width: 100%;
			justify-content: space-between;
			@include dashed-border($linegray, bottom);

			.order__fact:nth-of-type(2) {
				p,
				h6 {
					text-align: right;
				}
			}
		}

		&__timeline {
			margin-top: 20px;

			.labels {
				margin-bottom: 10px;
				width: 100%;
				@include flex('row');
				justify-content: space-between;

				span {
					position: relative;
					color: $darkgray;

					&::after {
						content: '';
						height: 9px;
						width: 9px;
						border-radius: 50%;
						background-color: $linegray;
						border: solid 5px white;
						box-sizing: content-box;
						position: absolute;
						top: calc(100% + 2px);
					}

					&:nth-of-type(1)::after {
						left: -5px;
					}

					&:nth-of-type(2)::after {
						left: 50%;
						transform: translateX(-50%);
					}

					&:nth-of-type(3)::after {
						right: -5px;
					}
				}
			}

			.timeline {
				height: 4px;
				width: 100%;
				background-color: $linegray;
				border-radius: 2px;

				div {
					height: 100%;
					width: 0;
					background-color: $accent;
					border-radius: 2px;
				}
			}
		}

		&__description {
			padding-top: 25px;

			&:empty {
				padding: 0;
			}
		}

		.label--active {
			color: $main;
			font-weight: 700;

			&::after {
				background-color: $accent;
			}
		}

		&.--step-payment {
			.order__fact:nth-of-type(1) {
				p {
					color: $red;
					-webkit-text-stroke-color: $red;
				}
			}

			.order__status__timeline {
				.labels span:nth-of-type(1) {
					@extend .label--active;

					&::after {
						background-color: $red;
					}
				}

				.timeline div {
					width: 0;
				}
			}
		}

		&.--step-progress {
			.order__status__timeline {
				.labels span:nth-of-type(1),
				.labels span:nth-of-type(2) {
					@extend .label--active;
				}

				.timeline div {
					width: 50%;
				}
			}
		}

		&.--step-sending {
			.order__status__timeline {
				.labels span:nth-of-type(1),
				.labels span:nth-of-type(2),
				.labels span:nth-of-type(3) {
					@extend .label--active;
				}

				.timeline div {
					width: 100%;
				}
			}
		}
	}

	.button--tracking {
		margin-top: -40px;
	}

	// shipping information
	.shipment_heading {
		@include h4;
		@include font-gooddog;
		padding: 50px 0 20px !important;

		&:first-of-type {
			padding-top: 0 !important;
		}
	}

	.tracking-detail {
		margin: 0 auto !important;
		padding: 25px 27px !important;
		background: white !important;
		border-radius: 15px;
		border: none !important;
		@include dropshadow;

		& + .tracking-detail {
			margin-top: 20px !important;
		}

		.shipment-content {
			margin: 0;
		}

		.tracking-header {
			padding-bottom: 20px;
			@include flex('row');
			flex-direction: row-reverse;
			@include dashed-border($linegray, bottom);

			.tracking_number_wrap {
				margin: 0;
				padding: 0;
				@include flex('row');
				flex-direction: row-reverse;
				align-items: center;
				gap: 15px;
				border: none;

				.provider_image_div {
					margin: 0;

					.provider_image {
						width: 50px;
					}
				}

				.tracking_number_div {
					margin: 0;

					li {
						@include flex('column');
						align-items: flex-end;
					}

					strong {
						margin: 0;
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}

			.shipment_status_heading {
				padding-top: 24px;
				@include font-gooddog;
				@include fluid-type(18px, 20px);
				color: $accent;
				-webkit-text-stroke-color: $accent;
				position: relative;

				&::after {
					content: 'status';
					padding: 0;
					color: $main;
					font-family: $main-font;
					@include fluid-type(12px, 13px);
					font-weight: 800;
					text-transform: uppercase;
					position: absolute;
					top: 0;
					left: 0;
				}

				&::before {
					content: unset !important;
				}
			}
		}

		.progress {
			margin: 35px 0;
			height: 4px;
			background-color: $linegray;

			.progress-bar {
				background-color: $accent;
			}

			.progress-icon {
				height: 36px !important;
				width: 36px !important;
				top: 50% !important;
				transform: translateY(-50%) !important;

				&.icon1 {
					content: url(../img/icons/shipping_icon_pre_transit.svg) !important;
				}
				&.icon2 {
					content: url(../img/icons/shipping_icon_in_transit.svg) !important;
				}
				&.icon3 {
					content: url(../img/icons/shipping_icon_out_for_delivery.svg) !important;
				}
				&.icon4 {
					content: url(../img/icons/shipping_icon_delivered.svg) !important;
				}
			}
			&.pre_transit {
				.progress-bar {
					width: 25% !important;
				}

				.icon1 {
					content: url(../img/icons/shipping_icon_pre_transit_active.svg) !important;
				}
			}
			&.in_transit {
				.progress-bar {
					width: 50% !important;
				}

				.icon1 {
					content: url(../img/icons/shipping_icon_pre_transit_active.svg) !important;
				}
				.icon2 {
					content: url(../img/icons/shipping_icon_in_transit_active.svg) !important;
				}
			}

			&.out_for_delivery {
				.progress-bar {
					width: 75% !important;
				}

				.icon1 {
					content: url(../img/icons/shipping_icon_pre_transit_active.svg) !important;
				}
				.icon2 {
					content: url(../img/icons/shipping_icon_in_transit_active.svg) !important;
				}
				.icon3 {
					content: url(../img/icons/shipping_icon_out_for_delivery_active.svg) !important;
				}
			}

			&.delivered {
				.progress-bar {
					width: 100% !important;
				}

				.icon1 {
					content: url(../img/icons/shipping_icon_pre_transit_active.svg) !important;
				}
				.icon2 {
					content: url(../img/icons/shipping_icon_in_transit_active.svg) !important;
				}
				.icon3 {
					content: url(../img/icons/shipping_icon_out_for_delivery_active.svg) !important;
				}
				.icon4 {
					content: url(../img/icons/shipping_icon_delivered_active.svg) !important;
				}
			}
		}

		.shipment_progress_heading_div {
			display: none !important;

			.shipment_progress_label {
				padding: 5px 10px;
				font-weight: 700;
				color: $main;

				&.checked {
					border-bottom: solid 2px $accent;
				}
			}
		}

		.tracking-details {
			margin-top: 15px;

			ul.timeline {
				padding: 0 0 0 8px !important;

				&::before {
					width: 4px;
					background-color: $linegray;
					left: 4px;
					border-radius: 2px;
				}

				li {
					&::before {
						content: '';
						height: 8px;
						width: 8px;
						background-color: $accent;
						background-color: $linegray;
						border: solid 5px white;
						border-radius: 50%;
						box-sizing: content-box;
						left: -3px;
						transform: translateY(1px);
					}
					strong {
					}

					p {
					}
				}

				&.new-details {
					padding-top: 5px !important;
					&::before {
						top: 0;
					}
				}

				&.old-details {
					&::before {
						top: -10px;
						height: calc(100% + 10px);
					}
				}
			}
		}

		.view_hide_old_details_div {
			margin-top: 10px;

			a {
				color: $accent;
				font-weight: 700;
			}
		}

		.trackship_branding {
			display: none !important;
		}
	}

	.shipping__status:not(:has(.tracking-detail)) {
		display: none;
	}

	&:has(.tracking-detail) {
		.order__status {
			@extend .--step-sending;
		}
	}

	// products list
	.order__cart {
		.order__products {
			padding: 25px 27px;
			border-radius: 15px;
			background-color: white;
			@include dropshadow;

			.cart__item:not(:last-of-type) {
				margin-bottom: 18px;
				padding-bottom: 18px;
			}

			.product__name__price * {
				@include fluid-type(18px, 20px);
			}

			.product__image {
				height: 100px;
				width: 100px;
				min-width: 100px;
			}
		}
	}

	// customer information
	.order__infos {
		.order__facts {
			padding: 25px 27px;
			gap: 30px;
			background-color: white;
			border-radius: 15px;
			@include dropshadow;

			.order__fact {
				width: calc(50% - 15px);
			}
		}
	}

	// comments
	.commentlist {
		padding: 25px 27px;
		@include flex('column');
		gap: 20px;
		background-color: white;
		border-radius: 15px;
		@include dropshadow;

		.meta {
			@include fluid-type(13px, 14px);
			font-weight: 700;
		}
	}

	/*------------------------------------*\
    Split right
\   *------------------------------------*/

	// buttons
	.order__controls {
		width: 100%;
		@include flex('column');
		align-items: stretch;
		gap: 12px;

		.button {
			&.pay {
				@extend .--color-red;
			}
			&.view {
				display: none;
			}
		}

		&:not(:has(.button:nth-of-type(2))) {
			display: none;
		}
	}

	// table
	.shop_table tfoot {
		tr:nth-of-type(1),
		tr[data-row='discount_subtotal'] {
			@extend .tr--bold;
			th,
			td {
				padding-bottom: 9px;
			}
		}

		tr[data-row='discount_subtotal'] {
			@extend .tr--border-top;
		}

		tr[data-row='cart_subtotal'],
		tr[data-row='discount'],
		tr[data-row='shipping'] {
			th,
			td {
				padding-bottom: 27px;
			}
		}

		tr[data-row='order_total'] {
			@extend .tr--border-top;
			@extend .tr--bold;

			th,
			td {
				padding-bottom: 27px;
			}
		}

		&:has(tr[data-row='discount']) {
			tr[data-row='cart_subtotal'] {
				th,
				td {
					padding-bottom: 9px;
				}
			}
		}
	}

	// order again
	.order-again {
		.button {
			width: 100%;
			@extend .--color-main;
			color: white;
			font-weight: 700;
		}
	}

	// payment method
	.order__payment {
		&__content {
			padding: 25px 27px;
			@include flex('column');
			gap: 20px;
			border-radius: 15px;
			background-color: white;
			@include dropshadow;

			p {
				padding: 0;
			}
		}
	}

	// woocommerce-customer-details
	.woocommerce-customer-details {
		display: none !important;
	}

	&:has(.shop_table tr[data-row='shipping']) {
		.shop_table tr[data-row='cart_subtotal'] {
			td,
			th {
				padding-bottom: 7px;
			}
		}
	}

	&:has(.order__payment) {
		.shop_table tr[data-row='payment_method'] {
			display: none;
		}
	}
}

.woocommerce-order-overview,
.order__overview {
	@include flex('row');
	justify-content: flex-start;
	column-gap: 20px;
	padding-left: 0;

	li {
		list-style-type: none !important;
		font-size: 12px;
		font-weight: 800;
		text-transform: uppercase;
		color: $accent;

		&:not(:last-child) {
			padding-right: 20px;
			border-right: solid 2px $linegray;
		}

		strong {
			display: block;
			margin-top: -3px;
			font-size: 16px;
			font-weight: 700;
			text-transform: none;
			color: $main;
			line-height: 1.3em;

			* {
				font-weight: 700;
			}
		}
	}
}

.woocommerce-order-details {
	margin-top: 20px;
}

.woocommerce-customer-details {
	@extend .gray__block;
}

.addresses {
	@include flex('row');
	column-gap: 20px;

	.col-1,
	.col-2 {
		width: calc(50% - 10px);
		flex: auto;
		background-color: $lightgray;
		border: solid 1px $linegray;
		border-radius: 15px;
		padding: 25px;

		* {
			font-size: 16px;
		}

		h2 {
			font-weight: 800;
			padding-bottom: 15px;
		}

		address {
			position: relative;

			p {
				padding: 0;
				/* padding-left: 30px;
                background-image: url(../img/icons/icon_phone_green.svg);
                background-size: 10px;
                background-position: 0 50%;
                background-repeat: no-repeat; */
				position: absolute;
				left: 50%;
				top: 0;
				&:nth-of-type(2) {
					top: 24px;
				}
				// &.woocommerce-customer-details--phone {

				// }
				// &.woocommerce-customer-details--email {

				// }
			}
		}
	}
}

.woocommerce-thankyou-order-received {
	padding: 0 0 35px;

	& + .order__header {
		.view {
			display: none;
		}
	}
}
