/*------------------------------------*/
/* Woocommerce: Cart */
/*------------------------------------*/
body.woocommerce-cart .woocommerce {
	/*------------------------------------*/
	/* Left side */
	/*------------------------------------*/
	.left {
		.button--update-cart {
			margin-top: 35px;
			&:disabled {
				opacity: 15%;
			}
		}
	}

	/*------------------------------------*/
	/* Right side */
	/*------------------------------------*/
	.right {
		// Shipping
		.woocommerce-shipping-methods {
			@include element-select-list;
		}

		.shipping__methods {
			display: none;
		}

		// Paypal widget
		.ppc-button-wrapper {
			margin-top: 52px;
			position: relative;
			z-index: 1;

			&::after {
				content: 'oder direkt bezahlen mit';
				font-size: 14px;
				font-weight: 600;
				color: $darkgray;
				position: absolute;
				bottom: calc(100% + 17px);
				left: 50%;
				transform: translateX(-50%);
			}

			&:not(:has(#ppc-button-ppcp-gateway .component-frame)) {
				display: none;
			}
		}
	}
}

body.woocommerce-cart .woocommerce,
body.woocommerce-order-pay .woocommerce {
	.cart__items {
		.amount bdi {
			@include font-gooddog;
		}

		.quantity {
			span {
				display: none;
			}
		}
	}

	.cart__item,
	.order__item {
		/* ---- Produkte im Warenkorb ----*/
		@include flex('row');
		align-items: stretch;
		column-gap: 30px;

		&:not(:last-child) {
			padding-bottom: 25px;
			margin-bottom: 25px;
			@include dashed-border($linegray, bottom);
		}

		.product__image {
			height: 120px;
			width: 120px;
			min-width: 120px;
			border-radius: 10px;
			border: solid 1px $linegray;
			overflow: hidden;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		*:not(del) {
			text-decoration: none;
		}

		.product__infos {
			@include flex('column');
			justify-content: flex-start;
			flex: auto;
			position: relative;

			.product__category {
				display: block;
				margin-right: 30px;
				margin-bottom: 5px;
				line-height: 1em;

				a {
					@include fluid-type(11px, 12px);
					font-weight: 800;
					text-transform: uppercase;
					color: $accent;
					pointer-events: none;
					text-decoration: none;
				}
			}

			.price {
				min-width: 80px;
				@include flex('row');
				align-items: flex-end;

				.amount bdi {
					@include font-gooddog;
				}

				del {
					margin: 0;

					bdi {
						@include fluid-type(15px, 15px);
					}
				}
			}

			.woocommerce-Price-amount,
			.product__name,
			.product__name a {
				@include font-gooddog;
				@include fluid-type(20px, 22px);
				color: $main;
				text-transform: uppercase;
				text-decoration: none;
				line-height: 1.2em;
			}

			.product__name__price {
				@include flex('row');
				column-gap: 15px;
				position: relative;
				width: 100%;

				.product__name {
					a:hover {
						text-decoration: underline;
					}

					.variation {
						margin-top: 7px;
						@include flex('row');
						flex-wrap: wrap;
						justify-content: flex-start;
						align-items: baseline;
						column-gap: 5px;
						letter-spacing: 0;
						line-height: 1em;

						&,
						& p {
							font-family: $main-font;
							@include fluid-type(12px, 12px);
							padding: 0;
							text-transform: uppercase;
						}

						dt,
						dd {
							height: fit-content;
							@include fluid-type(12px, 12px);
						}

						dt {
							font-weight: 800;
						}
					}
				}
			}

			.product__subtotal--double-discount,
			.product__subtotal,
			.product__total,
			.product__price {
				text-align: right;
				line-height: 1.3;

				.amount bdi {
					@include font-gooddog;
				}

				del {
					opacity: 100%;

					.amount {
						@include fluid-type(15px, 15px);
						-webkit-text-stroke: none;
						color: $main;
						opacity: 60%;
					}
				}

				ins .amount {
					color: $red;
					-webkit-text-stroke-color: $red;

					bdi {
						-webkit-text-stroke-color: $red;
					}
				}

				p:not(.product__subtotal) {
					padding-top: 8px;
					order: -1;
					text-align: right;
					line-height: 1.2;

					&,
					span,
					.amount {
						font-family: 'proxima-soft';
						@include fluid-type(12px, 12px);
						font-weight: 600;
						color: $main--light;

						bdi {
							font-family: 'proxima-soft' !important;
							font-weight: 600;
							-webkit-text-stroke-color: $main--light;
						}
					}
				}

				& > .product__subtotal {
					gap: 4px;
				}
			}

			.product__name__price + .product__variation,
			.product__name__price + .product__quantity {
				margin-top: 10px;
			}

			.product__variation,
			.product__quantity {
				display: block;
				@include fluid-type(11px, 12px);
				text-transform: uppercase;

				span {
					font-weight: 800;
				}
			}

			.product__total__quantity__container {
				display: flex;
				align-items: flex-end;
				width: 100%;
				flex: auto;
			}

			.product__total__quantity {
				@include flex('row');
				flex-wrap: wrap;
				align-items: flex-end;
				column-gap: 25px;
				row-gap: 8px;
				margin-top: 10px;
				width: 100%;

				p {
					display: none;
				}

				.product__total {
					display: none;

					.amount {
						@include fluid-type(16px, 16px);
					}
				}

				.quantity {
					@include flex('row');
					align-items: baseline;
					column-gap: 5px;
					padding: 0;
					width: fit-content;

					span {
						display: none;
					}

					select {
						padding: 4px 20px 4px 10px;
						width: 60px;
						font-weight: 700;
						background-position-x: calc(100% - 7px);
						background-size: 10px;
						border-width: 1px;
						cursor: pointer;
					}
				}
			}

			.product-remove {
				height: 25px;
				width: 25px;
				position: absolute;
				right: 0;
				bottom: 0;

				a {
					display: block;
					height: 100%;
					width: 100%;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='Gruppe_2990' data-name='Gruppe 2990' transform='translate(-5062 -13543)'%3E%3Crect id='Rechteck_2193' data-name='Rechteck 2193' width='16' height='16' transform='translate(5062 13543)' fill='none'/%3E%3Cg id='Icon_feather-trash-2' data-name='Icon feather-trash-2' transform='translate(5059.369 13541)'%3E%3Cpath id='Pfad_1208' data-name='Pfad 1208' d='M4.5,9H17.005' transform='translate(0 -3.221)' fill='none' stroke='%23c3241b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath id='Pfad_1209' data-name='Pfad 1209' d='M17.226,5.779v9.726a1.389,1.389,0,0,1-1.389,1.389H8.889A1.389,1.389,0,0,1,7.5,15.505V5.779m2.084,0V4.389A1.389,1.389,0,0,1,10.974,3h2.779a1.389,1.389,0,0,1,1.389,1.389V5.779' transform='translate(-1.611)' fill='none' stroke='%23c3241b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Crect id='Rechteck_2194' data-name='Rechteck 2194' width='10' height='10.5' transform='translate(5.631 6)' fill='rgba(195,36,27,0)'/%3E%3Cpath id='Pfad_1210' data-name='Pfad 1210' d='M15,16.5v4.168' transform='translate(-5.637 -7.247)' fill='none' stroke='%23c3241b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath id='Pfad_1211' data-name='Pfad 1211' d='M21,16.5v4.168' transform='translate(-8.858 -7.247)' fill='none' stroke='%23c3241b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
					background-size: 17px;
					background-position: center;
					background-repeat: no-repeat;
					transition: $transition;

					&:hover {
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='Gruppe_2989' data-name='Gruppe 2989' transform='translate(-5062 -13543)'%3E%3Crect id='Rechteck_2193' data-name='Rechteck 2193' width='16' height='16' transform='translate(5062 13543)' fill='none'/%3E%3Cg id='Icon_feather-trash-2' data-name='Icon feather-trash-2' transform='translate(5059.369 13541)'%3E%3Cpath id='Pfad_1208' data-name='Pfad 1208' d='M4.5,9H17.005' transform='translate(0 -3.221)' fill='none' stroke='%23c3241b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath id='Pfad_1209' data-name='Pfad 1209' d='M17.226,5.779v9.726a1.389,1.389,0,0,1-1.389,1.389H8.889A1.389,1.389,0,0,1,7.5,15.505V5.779m2.084,0V4.389A1.389,1.389,0,0,1,10.974,3h2.779a1.389,1.389,0,0,1,1.389,1.389V5.779' transform='translate(-1.611)' fill='none' stroke='%23c3241b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Crect id='Rechteck_2194' data-name='Rechteck 2194' width='10' height='10.5' transform='translate(5.631 6)' fill='%23c3241b'/%3E%3Cpath id='Pfad_1210' data-name='Pfad 1210' d='M15,16.5v4.168' transform='translate(-5.637 -7.247)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath id='Pfad_1211' data-name='Pfad 1211' d='M21,16.5v4.168' transform='translate(-8.858 -7.247)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
					}
				}
			}
		}

		@media only screen and (max-width: $mobile) {
			column-gap: 20px;

			.product__image {
				height: 75px;
				width: 75px;
				min-width: 75px;
			}

			.product__infos {
				.product__name__price {
					.product__name {
						margin-right: 25px;
					}

					.product__subtotal--double-discount,
					.product__subtotal,
					.product__price {
						display: none;
					}
				}

				.quantity {
					padding: 1px 6px 1px 8px;
				}

				.product__total__quantity {
					margin-top: 12px;

					.product__total {
						display: block;
						@include font-gooddog;
					}
				}

				.product-remove {
					height: 18px;
					width: 18px;
					background-size: 11px;
					bottom: unset;
					top: 0;

					a {
						height: 18px;
						width: 18px;
					}
				}
			}
		}
	}
}
