/*------------------------------------*/
/* Woocommerce archive */
/*------------------------------------*/

// Variables
$archive-gap: 20px;

body.tax-product_cat,
body.tax-product_badge,
body.post-type-archive-product {
	> #main {
		padding-bottom: $space-medium;
		overflow: clip;
	}

	.site-main {
		padding-top: 0 !important;

		> .woocommerce-breadcrumb {
			display: none;
		}
	}

	// Hero Banner
	.shop-hero-banner--archive {
		padding-bottom: 50px;
		background-color: transparent;
		background-image: linear-gradient(
			to right,
			#001e34 0%,
			#001e34 50%,
			rgba(0, 30, 52, 0.8) 100%
		);

		.content {
			margin-top: 25px;
			@include flex('row');
			justify-content: flex-start;
			align-items: stretch;
			gap: 70px;

			.category__header__thumbnail {
				width: 350px;
				min-width: 350px;
				min-height: 350px;
				position: relative;

				img {
					height: 100%;
					width: 100%;
					border-radius: 25px;
					object-fit: cover;
					@include pos('center');
				}
			}

			.category__header__content {
				@include flex('column');
				justify-content: center;

				#main {
					padding: 0;
				}

				.page-title {
					padding: 10px 0 0;
					@include font-gooddog;
					-webkit-text-stroke-color: white;
					line-break: anywhere;
					color: white;
				}

				.term-description {
					p {
						padding-top: 20px;
						@include fluid-type(14px, 16px);
						line-height: 170%;
						font-weight: 400;
						color: white;
					}

					.show-more {
						display: inline-block;
						margin-top: 8px;
						color: $accent;
						cursor: pointer;
					}

					&:not(.--show-full) {
						p {
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}
				}

				.shop__subcategories {
					margin-top: 30px;
					padding: 0;
				}
			}
		}

		@media only screen and (max-width: $desktop) {
			.shop-hero-banner__content {
				gap: 50px;

				.category__header__thumbnail {
					width: 310px;
					min-width: 310px;
					min-height: 310px;
				}
			}
		}
		@media only screen and (max-width: $tablet) {
			padding-bottom: 50px !important;

			.shop-hero-banner__content {
				flex-direction: column;
				align-items: flex-start;
				gap: 40px;

				.category__header__thumbnail {
					display: none;
				}

				.category__header__content {
					.shop__subcategories {
						margin-top: 25px;
						flex-direction: row;

						a {
							width: fit-content;
						}
					}
				}

				.category__header__thumbnail ~ .category__header__content {
					margin-top: 0;
				}
			}
		}
	}

	.archive__controls {
		margin-top: 50px;
		padding-bottom: 22px;
		@include flex;
		flex-wrap: wrap;
		align-items: flex-end;

		.woocommerce-result-count {
			width: auto;
			display: inline-block;
			@include fluid-type(14px, 16px);
			font-weight: 700;
		}

		.filters-slideover__button {
			order: 1;
		}

		.woocommerce-notices-wrapper {
			order: -1;
		}
	}

	/*------------------------------------*/
	/* SECTION Product list */
	/*------------------------------------*/
	.products-archive__list {
		// Products List
		.products {
			margin-top: 20px;
			padding-top: 30px;
			// padding-left: 0;
			@include flex('row');
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: stretch;
			gap: $archive-gap;
			border-top: solid 1px $linegray;

			@media only screen and (max-width: $tablet) {
				row-gap: 30px;
				border-top: none;
				padding-top: 0;
			}
		}

		// Column Control
		.columns-4 {
			.product {
				@include flex-item-width(4, $archive-gap);
				flex: unset;
			}
		}

		.columns-3 {
			.product {
				@include flex-item-width(3, $archive-gap);
				flex: unset;
			}
		}

		.columns-2 {
			.product {
				@include flex-item-width(2, $archive-gap);
				flex: unset;
			}
		}
	}
	// !SECTION

	/*------------------------------------*/
	/* SECTION Pagination */
	/*------------------------------------*/
	.woocommerce-pagination {
		margin-top: 60px;

		ul.page-numbers {
			@include flex('row');
			justify-content: flex-end;
			column-gap: 6px;

			li {
				list-style: none;
				span,
				a {
					& {
						display: block;
						height: 46px;
						width: 46px;
						background-color: $lightgray;
						border: solid 1px $linegray;
						border-radius: 8px;
						font-size: 16px;
						font-weight: 700;
						text-align: center;
						line-height: 44px;
						transition: all 200ms;

						&:hover {
							background-color: $lightgray--darken;
						}
					}

					&.current {
						background-color: $accent;
						border-color: $accent;
						color: white;
					}

					&.prev,
					&.next {
						background-color: $main;
						background-repeat: no-repeat;
						background-size: 7px;
						background-position: 50% 50%;
						text-indent: 100%;
						white-space: nowrap;
						overflow: hidden;

						&:hover {
							background-color: $main--lighten;
						}
					}

					&.prev {
						margin-right: 8px;
						background-image: url('../img/shop/arrow_prev_page.svg');
					}

					&.next {
						margin-left: 8px;
						background-image: url('../img/shop/arrow_next_page.svg');
					}

					&.dots {
						width: 20px;
						background-color: transparent;
						border: none;
						line-height: 240%;
						margin: 0 -3px;
					}
				}
			}
		}
	}
	// !SECTION

	/*------------------------------------*/
	/* SECTION Filter everything */
	/*------------------------------------*/
	$product-filter-padding: 25px;
	$product-filter-padding-x: 25px;
	$product-filter-padding-y: 22px;

	.filters-slideover__confirm,
	.filters-slideover {
		width: 400px;
		max-width: 100%;
		background: white;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 410;
	}

	.filters-slideover {
		height: 100dvh;
		@include dropshadow;
		transition: $transition;
		transition-property: translate;
		overflow-y: scroll;
		@include hide-scrollbar;

		&:not(.--open) {
			translate: 100% 0;
			pointer-events: none;
		}

		&__header {
			padding: $product-filter-padding-y $product-filter-padding-x;
			@include flex('row');
			align-items: center;

			h3 {
				padding: 3px 0 0;
				translate: 0 1px;
			}
		}

		&__close {
			margin-right: -8px;
			width: 30px;
			height: 30px;
			@include background-image(
				url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 12L11.5 2' stroke='%23081D32' style='stroke:%23081D32;stroke:color(display-p3 0.0314 0.1137 0.1961);stroke-opacity:1;' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M11.5 12L1.5 2' stroke='%23081D32' style='stroke:%23081D32;stroke:color(display-p3 0.0314 0.1137 0.1961);stroke-opacity:1;' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E%0A")
			);
			background-size: 16px;
			cursor: pointer;
			transition: $transition;

			&:hover {
				rotate: 90deg;
			}
		}

		&__confirm {
			padding: $product-filter-padding-y $product-filter-padding-x;
			border-top: solid 1px $linegray;

			.button {
				width: 100%;
			}
		}

		&__backdrop {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.5);
			z-index: 400;
			cursor: pointer;
			transition: $transition;

			&:not(.--open) {
				opacity: 0;
				pointer-events: none;
			}
		}
	}

	.wpc-filters-main-wrap {
		.wpc-filters-section {
			margin: 0;
			border-top: solid 1px $linegray;

			// NOTE Accordeon
			.wpc-filter-header {
				.wpc-filter-title {
					margin: 0;
					font-weight: 700;

					button {
						padding: $product-filter-padding-y $product-filter-padding-x;
					}

					.wpc-open-icon {
						border: none;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.199' height='5.6' viewBox='0 0 9.199 5.6'%3E%3Cpath id='Pfad_879' data-name='Pfad 879' d='M19745.359,8016.382l3.186,3.186,3.186-3.186' transform='translate(-19743.945 -8014.968)' fill='none' stroke='%23001e34' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						width: 11px;
						height: 11px;
						transform: none;
						transition: $transition;
					}
				}

				// Hide selected values
				.wpc-filter-selected-values {
					display: none;
				}
			}
			// Accordeon content
			.wpc-filter-content {
				padding: 0 $product-filter-padding $product-filter-padding;
			}
			// Rotate icon when opened
			&.wpc-opened {
				.wpc-filter-header {
					.wpc-filter-title {
						.wpc-open-icon {
							rotate: 180deg;
						}
					}
				}
			}

			// Filter Lists
			.wpc-filters-ul-list {
				margin-bottom: 5px;
				padding: 0;
				display: flex;
				gap: 10px;

				.wpc-term-item {
					margin: 0;
				}

				// NOTE Checkboxes
				&.wpc-filters-checkboxes {
					flex-direction: column;

					.wpc-term-item-content-wrapper {
						label {
							@include checkbox;
							padding: 0;
						}

						input[type='checkbox'] {
							display: none;

							&:checked + label {
								&:before {
									background-color: $accent;
									border-color: darken($accent, 10%);
									background-image: url('../img/shop/checkbox_checkmark.svg');
								}

								&:hover {
									&:before {
										border-color: darken($accent, 5%);
									}
								}
							}
						}
					}
				}
				// NOTE Colors
				&.wpc-filters-labels {
					flex-wrap: wrap;

					li {
						width: 40%;
						flex: auto;
					}

					.wpc-term-item-content-wrapper {
						.wpc-term-swatch-wrapper {
							margin-right: 10px;
							border: none;

							&:before {
								border-radius: 5px;
							}

							.wpc-term-swatch {
								border-radius: 5px;
								border: solid rgba(0, 0, 0, 10%) 2px;
							}
						}
					}
				}
			}

			&:has(.wpc-filters-ul-list li .wpc-help-tip) {
				display: none;
			}
		}

		// Admin only button
		.wpc-edit-filter-set {
			@extend .woocommerce-info;
			margin: $product-filter-padding $product-filter-padding 0;
		}
	}

	.widget_wpc_sorting_widget,
	.widget_wpc_chips_widget {
		padding: $product-filter-padding-y $product-filter-padding-x;
		border-top: solid 1px $linegray;

		h3 {
			padding: 0 0 $product-filter-padding-y;
			font-family: $main-font !important;
			font-size: 16px !important;
			font-weight: 700 !important;
			-webkit-text-stroke: unset !important;
			text-transform: none !important;
		}
	}

	.widget_wpc_chips_widget {
		// Chips list
		.wpc-filter-chips-list {
			margin-bottom: 5px;
			display: flex;
			flex-wrap: wrap;
			gap: 8px;

			.wpc-filter-chip {
				margin: 0;

				a {
					background: $lightgray;
					border: solid 1px $linegray;
					padding: 3px 12px 4px;
				}

				&.wpc-chip-reset-all a {
					background: $main;
					color: white;
					border-color: transparent;
				}
			}
		}

		&:has(.wpc-filter-chips-list:empty) {
			display: none;
		}
	}

	/*------------------------------------*/
	/* !SECTION Filter everything */
	/*------------------------------------*/

	/*------------------------------------*/
	/* Responsive */
	/*------------------------------------*/
	@include bp-lower($desktop) {
		.products-archive__list {
			.products {
				width: 100%;
			}

			.columns-4,
			.columns-3,
			.columns-2 {
				.product {
					@include flex-item-width(2, $archive-gap);
				}
			}
		}
	}

	@include bp-lower($tablet) {
		.woocommerce-pagination {
			ul.page-numbers li {
				span,
				a {
					height: 41px;
					width: 41px;
					font-size: 15px;
					line-height: 39px;
				}
			}
		}
	}

	@include bp-lower(620px) {
		.woocommerce-pagination {
			margin-top: 30px;

			ul.page-numbers {
				justify-content: center;

				li {
					span,
					a {
						&.prev {
							margin-right: 0;
						}

						&.next {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	@include bp-lower($mobile) {
		.archive__controls {
			margin-top: 21px;
			padding-bottom: 8px;

			.woocommerce-result-count {
				padding: 0 0 15px;
				width: 100%;
				text-align: center;
			}
		}

		.products-archive__list {
			.columns-4,
			.columns-3,
			.columns-2 {
				margin-left: -1 * $gap - 1px;
				margin-right: -1 * $gap - 1px;
				width: calc(100% + 2 * $gap + 2px);
				max-width: unset;
				border-top: solid #f2f2f2 1px;
				border-bottom: solid #f2f2f2 1px;
				gap: 0;

				.product {
					width: 50%;
					border-radius: 0;
					border: solid #f2f2f2 1px;
					box-shadow: none;

					img {
						border-radius: 0;
					}
				}
			}
		}
	}
}
