// TODO: Save all form stylings in this file

// Mobile Dropdown im Shop
.show--shop .header__dropdown__mobile {
	.title__arrow {
		@include font-gooddog;
		font-size: 18px !important;
		font-weight: 400 !important;
	}

	.dropdown__links:not(.submenu) {
		.dropdown__links__item a div {
			padding: 19px $wrapper-gap;
		}
	}

	.dropdown__dark {
		.title__arrow {
			font-size: 16px !important;
			transform: translateY(1px);
			-webkit-text-stroke-color: white;
		}
	}
}

// Shop
body:has(#gtm-values[data-website-mode='shop']) {
	h2 + h5 {
		padding-top: 8px;
	}

	h5 + h2 {
		padding-top: 12px;
	}

	h4 + h6 {
		padding-top: 8px;
	}

	h6 + h4 {
		padding-top: 8px;
	}

	@media only screen and (max-width: $tablet) {
		h5 + h2 {
			padding-top: 8px;
		}

		h2 + h5 {
			padding-top: 6px;
		}
	}

	// Custom Select Pfeil
	select {
		-webkit-appearance: none;
		appearance: none;
		background-image: url(../img/shop/arrow_dropdown.svg);
		background-size: 11px;
		background-repeat: no-repeat;
		background-position-x: calc(100% - 14px);
		background-position-y: 50%;
		cursor: pointer;
	}
}

/*------------------------------------*/
/* Split grid */
/*------------------------------------*/
:root {
	--padding-outside: calc((100vw - #{$screen}) / 2);
	--padding-inside: 50px;
	--section-gap: 60px;

	@media only screen and (max-width: 1100px) {
		--padding-outside: #{$wrapper-gap};
		--padding-inside: 35px;
	}

	@media only screen and (max-width: 920px) {
		--padding-inside: 25px;
	}

	@media only screen and (max-width: $desktop) {
		--padding-outside: #{$gap};
		--padding-inside: #{$gap};
		--section-gap: 40px;
	}
}

.split-grid {
	display: grid;
	grid-template-columns: 54% 46%;
	grid-template-areas: 'left right';

	> .left {
		grid-area: 'left';
		padding: 50px var(--padding-inside) 100px var(--padding-outside);
	}

	> .right {
		grid-area: 'right';
		padding: 50px var(--padding-outside) 100px var(--padding-inside);
		background-color: $lightgray;
		border-left: solid 2px $linegray;
	}

	> .left,
	> .right {
		h4 {
			padding: 0 0 20px;
		}
	}

	@include bp-lower($tablet) {
		grid-template-columns: 100%;
		grid-template-areas: 'left' 'right';

		> .left,
		> .right {
			padding-top: $outergap;
			padding-bottom: $outergap;
		}

		> .right {
			border-left: none;
			border-top: solid 2px $lightgray;
		}
	}
}

/*------------------------------------*/
/* Shop split: left/right */
/*------------------------------------*/
.shop__split {
	column-gap: 6%;

	.split__left {
		width: 53%;
	}

	.split__right {
		width: 41%;
		min-width: 340px;
	}
}

.shop__split {
	@include flex('row');

	.split__left {
		h2 {
			margin: 50px 0 25px;
			padding: 0;
			font-weight: 800;
		}

		.split__left__header {
			@include flex('row');
			align-items: baseline;
			margin: 0 0 40px;

			h2 {
				margin: 0;
				@include fluid-type(24px, 32px);
			}

			.cart__productcount {
				display: inline-block;
				@include fluid-type(13px, 14px);
				font-weight: 800;
				text-transform: uppercase;
				color: $accent;
			}
		}
	}

	.split__right {
		@include flex('column');
		align-items: stretch;

		.summary {
			@include flex('column');
			align-items: stretch;
		}

		.split__right__block {
			margin-bottom: 15px;
		}

		.split__right__section {
			padding: 25px;
			border-radius: 15px;
			background-color: $lightgray;
			border: solid 1px $linegray;
		}
	}
}

// Responsive
@media only screen and (max-width: $tablet) {
	.shop__split {
		flex-direction: column;

		.split__left {
			width: 100%;
		}

		.split__right {
			width: 100%;
			min-width: unset;
		}
	}
}

/*------------------------------------*/
/* Breadcrumbs */
/*------------------------------------*/
$breadcrumb-gap: 10px;

.woocommerce-breadcrumb {
	@include flex('row');
	justify-content: flex-start;
	align-items: center;
	gap: $breadcrumb-gap;
	line-height: 1.4em;
	cursor: default;
	overflow-x: scroll;
	@include hide-scrollbar;

	li {
		@include flex('row');
		align-items: center;
		gap: $breadcrumb-gap;

		a,
		span {
			padding: 0;
			@include fluid-type(11px, 12px);
			color: white;
			font-weight: 700;
		}

		a {
			position: relative;
			cursor: pointer;

			&:nth-last-child(2) {
				color: $accent;
			}

			&::after {
				content: '';
				width: 0;
				height: 2px;
				border-radius: 3px;
				background-color: $accent;
				position: absolute;
				top: calc(100% - 1px);
				left: 50%;
				transform: translateX(-50%);
				transition: $transition;
			}

			&:hover,
			&:focus,
			&:active {
				&::after {
					width: 100%;
				}
			}
		}

		span {
			font-weight: 500;
			opacity: 60%;
		}

		.seperator {
			opacity: 60%;
		}
	}
}

/*------------------------------------*/
/* Search */
/*------------------------------------*/
.search {
	display: none;
}

/*------------------------------------*/
/* SECTION - Woocommerce messages */
/*------------------------------------*/
.woocommerce {
	// NOTE - Notices wrapper
	.woocommerce-NoticeGroup,
	.woocommerce-notices-wrapper {
		width: $wrapper-width;
		max-width: $screen;
		margin: 0 auto 35px;
		@include flex('column', 12px);

		> * {
			margin: 0;
		}

		&:empty {
			margin: 0;
		}
	}

	// NOTE - New woocommerce notices (since woocommerce 8.5)
	.wc-block-components-notice-banner {
		margin: 0;
		padding: 14px 16px 14px 14px !important;
		width: 100%;
		gap: 10px;
		background: $lightgray;
		border: solid 2px $linegray;
		border-radius: 10px;
		@include fluid-type(13px, 14px);
		font-weight: 600;

		> .wc-block-components-notice-banner__content {
			.button,
			.restore-item,
			.showcoupon {
				@include fluid-type(13px, 14px);
				color: $main !important;
				text-decoration: underline;
				font-weight: 700;
				opacity: 1;
				text-transform: none;
				letter-spacing: inherit;
				font-size: 14px;
				line-height: 150%;
				text-underline-position: inherit;

				&:hover {
					color: $main--light !important;
				}
			}
		}

		// Info banner
		&.is-info {
			border-color: #007cba;
			color: #007cba;
			background: #f4f8ff;
		}

		// Success banner
		&.is-success {
			background: #f4fff7;
			border-color: #4ab866;
			color: #4ab866;
		}

		// Error banner
		&.is-error {
			background: #fff0f0;
			border-color: $dark-red;
			color: $dark-red;
		}
	}

	// NOTE - Old woocomnmerce notices
	.woocommerce-message,
	.woocommerce-info {
		@extend .wc-block-components-notice-banner;
		@extend .is-info;
	}
	.woocommerce-error {
		@extend .wc-block-components-notice-banner;
		@extend .is-error;

		li {
			list-style: none;
		}
	}

	// SECTION - Responsive
	@include bp-lower($desktop) {
		.woocommerce-NoticeGroup,
		.woocommerce-notices-wrapper {
			.woocommerce-message {
				flex-direction: column;
				gap: 8px;
				text-align: center;

				.button {
					padding: 5px;
				}
			}
		}

		.woocommerce-notices-wrapper {
			margin: 0 !important;
			width: 100vw;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 5;

			div,
			li {
				color: $main;
			}
		}

		.wc-block-components-notice-banner {
			margin: 0;
			padding: 110px 20px 20px !important;
			@include flex('column');
			align-items: center;
			row-gap: 10px;
			background: $main !important;
			line-height: 1.5em;
			text-align: center;
			border-radius: 0;
			border: none;
			border-bottom: solid 4px $accent;
			@include drop-shadow-shop;
			position: relative;

			&__content {
				color: white !important;
			}

			// Hide the icon
			svg {
				display: none;
			}

			.button {
				display: none;
			}

			// NOTE - Paper effect
			&::after {
				content: '';
				height: 100%;
				width: 100%;
				background-image: url(https://atelier-delatron.de/wp-content/themes/atelier_theme/img/elements/paper_structure_500x.jpg);
				background-size: cover;
				mix-blend-mode: color-burn;
				position: absolute;
				top: 0;
				left: 0;
				pointer-events: none;
			}

			// NOTE - Variations
			&.is-success {
				border-bottom-color: #4ab866;
			}
			&.is-error {
				border-bottom-color: $dark-red;
			}

			// NOTE - Slide animation
			&:not(.--swipe-up) {
				animation: notices-slide 10s forwards;

				@keyframes notices-slide {
					0% {
						transform: translateY(-100%);
					}
					5% {
						transform: translateY(0%);
					}
					95% {
						transform: translateY(0%);
					}
					100% {
						transform: translateY(-100%);
					}
				}
			}
			&.--swipe-up {
				animation: swipe-out 500ms $ease_standard 0s forwards;

				@keyframes swipe-out {
					0% {
						transform: translateY(0%);
					}
					100% {
						transform: translateY(-200%);
					}
				}
			}
		}
	}
	// !SECTION - Responsive
}

/*------------------------------------*/
/* !SECTION - Woocommerce messages */
/*------------------------------------*/

/*------------------------------------*/
/* Approced */
/*------------------------------------*/

// Produktpreis
.price {
	@include flex('row');
	gap: 8px;
	@include font-gooddog;
	@include fluid-type(18px, 20px);
	padding-top: 0;
	line-height: 1em;

	del {
		opacity: 30%;
	}
	ins {
		&,
		* {
			text-decoration: none;
			color: $red;
			-webkit-text-stroke-color: $red !important;
		}

		.amount {
			font-weight: 600;
		}
	}
}

// NEW Product Badges
.product__badge {
	padding: 0 11px 0px 9px;
	width: fit-content;
	height: 28px;
	@include flex('row');
	align-items: center;
	gap: 5px;
	background-color: $main;
	border-radius: 8px;
	color: white;
	@include fluid-type(8px, 9px);
	font-weight: 700;
	line-height: 100%;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	white-space: nowrap;
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 1;
	transition: all $ease_standard 300ms;

	// FIXME - This code is not working
	.icon {
		transform: translateY(-1px);
		margin: 0 !important;
		object-fit: contain !important;
		display: none;
		height: 12px !important;
	}

	@include bp-lower($mobile) {
		top: 8px;
		left: 8px;

		.icon {
			height: 10px !important;
		}
	}
}

// TODO: Remove this if not needed
// Buttons List
.shop__button__list {
	@include flex('row');
	justify-content: flex-start;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 12px;

	.button {
		padding: 12px 20px;

		span {
			@include fluid-type(12px, 14px);
			font-weight: 700;
			text-transform: none;
		}
	}

	@media only screen and (max-width: $tablet) {
		column-gap: 10px;
		row-gap: 10px;

		.button {
			padding: 11px 16px;

			span {
				font-size: 13px;
			}
		}
	}
}

body.woocommerce {
	.woocommerce form,
	.woocommerce fieldset,
	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-shipping-fields__field-wrapper,
	.woocommerce-additional-fields__field-wrapper,
	.woocommerce-address-fields__field-wrapper {
		.woocommerce-form__label-for-checkbox {
			@include checkbox;
		}
	}
}

/*------------------------------------*/
/* Utility classes for showing contents on specific website mode */
/*------------------------------------*/
.show--atelier {
	display: block;
}

.show--shop {
	display: none;
}

body:has(#gtm-values[data-website-mode='shop']) {
	.show--atelier:not(.--hidden-on-load) {
		display: none !important;
	}

	.show--shop:not(.--hidden-on-load) {
		display: block !important;
	}
}

.placeholders {
	@include flex('column');
	gap: 25px;

	.placeholder {
		width: 100%;
		background-color: #f7f7f7;
		border-radius: 15px;

		&--small {
			height: 50px;
		}

		&--medium {
			height: 120px;
		}

		&--large {
			height: 330px;
		}
	}
}

// Spezielle Felder
.woocommerce-billing-fields {
	.checkbox {
		padding-left: 25px !important;

		.optional {
			padding-left: 10px;
		}
	}
}
.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper,
.woocommerce-additional-fields__field-wrapper {
	label:not(.checkbox) {
		@include label;
	}
}

@media only screen and (max-width: $desktop) {
	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-shipping-fields__field-wrapper,
	.woocommerce-additional-fields__field-wrapper {
		gap: 12px;
	}
}
