/*------------------------------------*/
/* Woocommerce: View Order */
/*------------------------------------*/

// Hode tracking details before moving them to the right place
.woocommerce-MyAccount-content {
	> .tracking-detail {
		display: none !important;
	}
}

body.woocommerce-order-received,
body.woocommerce-view-order {
	#main {
		padding: 0;
	}

	// TODO: Make this general (1/2)
	.left,
	.right {
		@include flex('column');
		justify-content: start;
		align-items: stretch;
		gap: 60px;

		@media only screen and (max-width: $desktop) {
			gap: 45px;
		}
	}

	/*------------------------------------*/
	/* Split left */
	/*------------------------------------*/

	// order header
	.order__header {
		margin-bottom: -20px;
	}

	// order status
	.order__status {
		@include box;
		padding: 0;

		.order__facts {
			@include box-padding;
			padding-bottom: 16px;
			width: 100%;
			justify-content: space-between;
			@include dashed-border($linegray, bottom);

			.order-status {
				color: $accent;
			}

			.order__fact:nth-of-type(2) {
				p,
				h6 {
					text-align: right;
				}
			}
		}

		&__timeline {
			@include box-padding;
			padding-top: 22px;

			.labels {
				margin-bottom: 15px;
				width: 100%;
				@include flex('row');
				justify-content: space-between;

				span {
					position: relative;
					color: $darkgray;

					&::after {
						content: '';
						height: 9px;
						width: 9px;
						border-radius: 50%;
						background-color: $linegray;
						border: solid 6px white;
						box-sizing: content-box;
						position: absolute;
						top: calc(100% + 7px);
					}

					&:nth-of-type(1)::after {
						left: -5px;
					}

					&:nth-of-type(2)::after {
						left: 50%;
						transform: translateX(-50%);
					}

					&:nth-of-type(3)::after {
						right: -5px;
					}
				}
			}

			.timeline {
				height: 4px;
				width: 100%;
				background-color: $linegray;
				border-radius: 2px;

				div {
					height: 100%;
					width: 0;
					background-color: $accent;
					border-radius: 2px;
				}
			}
		}

		&__description {
			@include box-padding;
			padding-top: 5px;

			&:empty {
				padding: 0;
			}
		}

		.label--active {
			color: $main;
			font-weight: 700;

			&::after {
				background-color: $accent;
			}
		}

		&.--status {
			&-pending {
				.order-status {
					color: $red;
					-webkit-text-stroke-color: $red;
				}

				.order__status__timeline {
					.labels span:nth-of-type(1) {
						@extend .label--active;
					}

					.timeline-process {
						width: calc(100% / 4 * 1);
					}
				}
			}

			&-processing {
				.order__status__timeline {
					.labels span:nth-of-type(1),
					.labels span:nth-of-type(2) {
						@extend .label--active;
					}

					.timeline div {
						width: calc(100% / 4 * 3);
					}
				}
			}

			&-on-hold {
				.order-status {
					color: $workshop-kinder;
					-webkit-text-stroke-color: $workshop-kinder;
				}

				.order__status__timeline {
					.labels span:nth-of-type(1),
					.labels span:nth-of-type(2) {
						@extend .label--active;
					}

					.timeline div {
						width: calc(100% / 4 * 3);
					}
				}
			}

			&-completed,
			&-arrival-shipment {
				.order__status__timeline {
					.labels span:nth-of-type(1),
					.labels span:nth-of-type(2),
					.labels span:nth-of-type(3) {
						@extend .label--active;
					}

					.timeline div {
						width: calc(100% / 4 * 4);
					}
				}
			}

			&-cancelled {
				.order-status {
					color: $red;
					-webkit-text-stroke-color: $red;
				}
			}
		}
	}

	.shipping__status {
		&:not(:has(.tracking-detail)) {
			display: none;
		}
	}

	// products list
	.order__cart {
		@include box;

		.cart__item:not(:last-of-type) {
			margin-bottom: 18px;
			padding-bottom: 18px;
		}

		.product__name__price * {
			@include fluid-type(18px, 20px);
		}

		.product__image {
			height: 100px;
			width: 100px;
			min-width: 100px;
		}
	}

	// customer information
	.order__addresses {
		@include box;
		@include flex('row');
		flex-wrap: wrap;
		gap: $gap;

		li {
			min-width: 160px;
			flex: 1;
			@include remove-spacing-first;

			p {
				padding-top: 10px;
			}
		}
	}

	// comments
	.commentlist {
		padding: 25px 27px;
		@include flex('column');
		gap: 20px;
		background-color: white;
		border-radius: 15px;
		@include dropshadow;

		.meta {
			@include fluid-type(13px, 14px);
			font-weight: 700;
		}
	}

	/*------------------------------------*/
	/* Split right */
	/*------------------------------------*/

	// buttons
	.order__controls {
		width: 100%;
		@include flex('column');
		align-items: stretch;
		gap: 12px;

		.button {
			&.pay {
				@extend .--color-red;
			}

			&.view,
			&.ast_track,
			&.ast_multi_track {
				display: none;
			}
		}

		&:empty,
		&:not(:has(.button:nth-of-type(2))) {
			display: none;
		}
	}

	// table
	.shop_table tfoot {
		tr:nth-of-type(1),
		tr[data-row='discount_subtotal'] {
			@extend .tr--bold;
			th,
			td {
				padding-bottom: 9px;
			}
		}

		tr[data-row='discount_subtotal'] {
			@extend .tr--border-top;
		}

		tr[data-row='cart_subtotal'],
		tr[data-row='discount'],
		tr[data-row='shipping'] {
			th,
			td {
				padding-bottom: 27px;
			}
		}

		tr[data-row='order_total'] {
			@extend .tr--border-top;
			@extend .tr--bold;

			th,
			td {
				padding-bottom: 27px;
			}
		}

		&:has(tr[data-row='discount']) {
			tr[data-row='cart_subtotal'] {
				th,
				td {
					padding-bottom: 9px;
				}
			}
		}
	}

	// order again
	.order-again {
		.button {
			width: 100%;
			@extend .--color-main;
			color: white;
			font-weight: 700;
		}
	}

	// payment method
	.order__payment {
		@include box;
		@include flex('column');
		gap: $gap;

		p {
			padding: 0;
		}
	}

	&:has(.shop_table tr[data-row='shipping']) {
		.shop_table tr[data-row='cart_subtotal'] {
			td,
			th {
				padding-bottom: 7px;
			}
		}
	}

	&:has(.order__payment) {
		.shop_table tr[data-row='payment_method'] {
			display: none;
		}
	}
}

/*------------------------------------*/
/* Woocommerce: Review Ordner */
/*------------------------------------*/
body.woocommerce-order-received .woocommerce {
	.woocommerce-order,
	.account--order-single {
		display: contents;
	}

	.woocommerce-notice,
	.woocommerce-thankyou-order-received,
	ul.woocommerce-thankyou-order-details {
		@include grid-split('left');
	}

	.left {
		padding: 0;
	}
}

/*------------------------------------*/
/* Section Name */
/*------------------------------------*/

// TODO: Test this code by creating a new order
.woocommerce-order-overview,
.order__overview {
	@include flex('row');
	justify-content: flex-start;
	column-gap: 20px;
	padding-left: 0;

	li {
		list-style-type: none !important;
		font-size: 12px;
		font-weight: 800;
		text-transform: uppercase;
		color: $accent;

		&:not(:last-child) {
			padding-right: 20px;
			border-right: solid 2px $linegray;
		}

		strong {
			display: block;
			margin-top: -3px;
			font-size: 16px;
			font-weight: 700;
			text-transform: none;
			color: $main;
			line-height: 1.3em;

			* {
				font-weight: 700;
			}
		}
	}
}

// .woocommerce-thankyou-order-received {
// 	padding: 0 0 35px;

// 	& + .order__header {
// 		.view {
// 			display: none;
// 		}
// 	}
// }

/*------------------------------------*/
/* Order facts */
/*------------------------------------*/
.order__facts {
	padding: 0;
	@include flex('row');
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;

	.order__fact {
		h6 {
			padding: 0 0 10px;
			color: $main !important;
		}

		p,
		bdi {
			margin: 0;
			padding: 0;
			@include fluid-type(14px, 15px);
		}
	}

	&:not(.--proxima) .order__fact {
		h6 {
			padding-bottom: 6px;
		}

		p,
		bdi {
			padding: 0;
			@include font-gooddog;
			@include fluid-type(18px, 20px);
			color: $accent;
			line-height: 1.5;
			-webkit-text-stroke-color: $accent;
		}
	}
}
