/*------------------------------------*\
    FOOTER.SCSS
\*------------------------------------*/
.footer {
	width: 100vw;
	padding: 100px 0 35px;
	background-color: $main;
	position: relative;
	overflow: hidden;

	* {
		color: white;
		font-family: $main-font;
	}

	.paper-structure {
		z-index: 1;
	}

	.footer__decoration {
		width: 100vw;
		height: 350px;
		position: absolute;
		bottom: 0;
		left: calc(50% + 50px);
		transform: translateX(-50%);
		pointer-events: none;
		object-fit: cover;
	}

	.footer__content {
		@include flex-row();
		gap: 70px $gap;
		margin: 0 0 100px;

		.footer__links {
			flex: auto;
			@include flex-row();
			justify-content: flex-start;
			flex-wrap: wrap;
			gap: 50px $gap;
			padding: 0;

			a:not([href]) {
				cursor: auto;
				&:hover {
					text-decoration: none;
				}
			}

			li.level-0 {
				@include flex-item-width(3, $gap);
				@include flex-column();
				list-style: none;

				& > a {
					@extend h4;
					margin-bottom: 35px;
					padding: 0 0 18px;
					color: white;
					position: relative;
					@include transition();
					-webkit-text-stroke-color: white;
					@include fluid-type(18px, 20px);

					&::after {
						content: '';
						height: 3px;
						width: 50px;
						background-color: $accent;
						position: absolute;
						left: 0;
						bottom: 0;
					}

					&:hover {
						opacity: 60%;
					}

					&[href='#'] {
						pointer-events: none;
					}
				}

				& > ul {
					padding: 0;
					width: 100%;
					@include flex-column();
					gap: 8px;

					li.level-1 {
						& > a {
							display: block;
							padding: 6px 0px;
							@include fluid-type(14px, 16px);
							font-weight: 600;
							text-transform: none;
							line-height: 1.2em;
							white-space: normal;
							position: relative;
							@include transition();

							&:after {
								background-color: white !important;
							}

							&:hover {
								opacity: 60%;
							}
						}
					}
				}
			}

			.menu-item-description {
				display: none;
			}
		}
		.footer__logo {
			width: 200px;
		}
	}

	.footer__contact {
		width: 280px;
		min-height: 280px;
		@include flex-column();
		gap: 16px;

		.contact__header {
			margin-bottom: 13px;
		}

		.links__list {
			margin-top: 20px;
			padding: 25px;
			width: 100%;
			border-radius: 20px;
			background-color: #0d283d;
		}

		.button {
			width: 100%;
		}
	}

	.footer__buttons {
		margin-bottom: 200px;
		@include flex-row();

		.button {
			img {
				height: 10px;
			}
		}

		.button__contact {
			padding-left: 0;
			padding-right: 0;
			width: 240px;
		}
	}

	.copyright {
		display: inline;
		margin: 0 0 0 15px;
		padding: 7px 0;
		max-width: 220px;
		background-color: $main;
		font-size: 13px;
		font-weight: 600;
		text-align: left;
		border-radius: 15px;
		color: white;
	}

	.nav--law {
		width: 300px;
		display: inline-flex;
	}

	//
	display: block !important;
	&.footer--mobile {
		display: none !important;
	}

	// Responsive
	@media only screen and (max-width: $tablet) {
		padding: 35px 0 30px;

		&.footer--desktop {
			display: none !important;
		}

		&.footer--mobile {
			display: block !important;
		}

		.footer__decoration {
			width: 680px;
			height: 340px;
			transform: none;
			left: unset;
			right: 0;
			max-width: unset;
		}

		.footer__content {
			margin-bottom: 120px;
			flex-direction: column;
			row-gap: 0;

			.footer__links {
				margin-top: 60px;
				width: 100%;
				justify-content: space-between;
				column-gap: $gap;
				row-gap: 45px;

				li.level-0 {
					@include flex-item-width(3, $gap);

					& > a {
						margin-bottom: 25px;
					}

					& > ul {
						gap: 5px;
					}
				}

				.sub-menu {
					margin-top: -5px;
				}
			}

			.button {
				margin-top: 30px;
			}

			.footer__contact {
				min-height: unset;
				width: 100%;
				gap: 15px;

				.contact__header {
					padding-top: 70px;
					padding-bottom: 18px;
					color: white;
					@include fluid-type(21px, 21px);
					position: relative;

					&::after {
						content: '';
						height: 3px;
						width: 50px;
						background-color: $accent;
						position: absolute;
						left: 0;
						bottom: 0;
					}
				}

				ul,
				.button {
					margin: 0;
				}
			}
		}

		.nav--law {
			display: flex;
			margin: auto;
		}

		.copyright {
			display: block;
			margin: 0 auto 15px;
			text-align: center;
		}
	}

	@media only screen and (max-width: $mobile) {
		.footer__content {
			.footer__links {
				li.level-0 {
					@include flex-item-width(2, $gap);
				}
			}
		}
	}
}
