/*------------------------------------*/
/* Slider */
/*------------------------------------*/
$slider__pagination-gap: 6px;

.slider__pagination {
	@include flex('row');
	justify-content: center;
	gap: $slider__pagination-gap;

	.slider__pagination__bullet {
		padding: 0;
		height: 15px;
		width: 15px;
		border-radius: 10px;
		border: solid 2px $linegray;
		background-color: transparent;
		position: relative;
		transition: $transition;

		&::before {
			content: '';
			height: calc(100% - 6px);
			width: calc(100% - 6px);
			background-color: $accent;
			border-radius: 10px;
			opacity: 0;
			@include pos('center');
			@include transition();
		}

		&:hover {
			border-color: $main;
		}

		&.--active {
			width: 33px;
			border-color: $main;

			&::before {
				opacity: 1;
			}
		}
	}

	&.--clickable {
		.slider__pagination__bullet {
			&:not(.--active) {
				cursor: pointer;
			}
		}
	}
}

.slider-button {
	width: 40px;
	aspect-ratio: 1;
	background-color: rgba(244, 239, 236, 50%);
	background-size: 10px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	cursor: pointer;
	transition: $transition;
	transition-duration: 200ms;

	&.swiper-button-disabled {
		opacity: 0;
	}

	&.--prev {
		background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.45627 0.000253581C5.67388 0.000181356 5.88663 0.0646917 6.0676 0.185556C6.24856 0.306421 6.38958 0.478287 6.47287 0.679331C6.55616 0.880375 6.57797 1.10152 6.53549 1.31495C6.49302 1.52838 6.38819 1.72447 6.23428 1.87831L3.11227 5.00025L6.23428 8.12232C6.43086 8.33047 6.53851 8.60705 6.53442 8.89332C6.53033 9.17959 6.41481 9.45296 6.21237 9.65541C6.00993 9.85785 5.73652 9.97334 5.45025 9.97743C5.16399 9.98152 4.8874 9.87383 4.67926 9.67726L0.00128074 4.99928L4.67926 0.321298C4.88554 0.115642 5.16498 0.00015642 5.45627 0.000253581Z' fill='%23000'/%3E%3C/svg%3E%0A");
		left: -40px;
	}

	&.--next {
		background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.10037 9.97729C0.882761 9.97736 0.670007 9.91285 0.489046 9.79198C0.308084 9.67112 0.167059 9.49925 0.0837722 9.29821C0.000485718 9.09716 -0.0213238 8.87602 0.0211501 8.66259C0.0636241 8.44916 0.168447 8.25307 0.322359 8.09923L3.44437 4.97729L0.322359 1.85521C0.125782 1.64707 0.0181284 1.37049 0.0222182 1.08422C0.0263081 0.797951 0.141828 0.524576 0.34427 0.322134C0.546713 0.119692 0.820118 0.00420222 1.10639 0.000112377C1.39265 -0.00397746 1.66924 0.103707 1.87738 0.300283L6.55536 4.97826L1.87738 9.65624C1.6711 9.8619 1.39166 9.97738 1.10037 9.97729Z' fill='%23000'/%3E%3C/svg%3E%0A");
		right: -40px;
	}
}

.slider__button {
	height: 30px;
	width: 35px;
	background-color: transparent;
	background-image: url(../img/elements/arrow_left_main.svg);
	background-position: 50% 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 8px;
	border: none;
	position: relative;
	@include transition();

	&::before,
	&::after {
		content: '';
		@include background-image(url(../img/elements/arrow_left_accent.svg));
		background-size: 8px;
		width: 8px;
		height: 14px;
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		z-index: -1;
		opacity: 0;
		@include transition();
	}

	&:hover {
		background-position-x: 0;

		&::before,
		&::after {
			opacity: 1;
		}
		&::before {
			left: 10px;
		}
	}

	&.--next {
		rotate: 180deg;
	}

	&.swiper-button-disabled {
		opacity: 0.2;
		pointer-events: none;
	}
}
