// TODO: Fix the newsletter page
.page__newsletter {
	@include flex('row');
	align-items: stretch;
	column-gap: 100px;
	.newsletter__img {
		flex: auto;
		height: 100vh;
		min-height: 100vh;
		width: 1px;
		position: relative;
		.img__overlay {
			padding: 80px 0 0 calc((100vw - 1000px) / 2);
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-color: rgba($main, 90%);
			.button--back {
				color: white;
			}
		}
		.img__img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.newsletter__content {
		padding: 80px calc((100vw - 1000px) / 2) 80px 0;
		@include flex('column');
		justify-content: center;
		.logo {
			width: 90px;
		}
		h6 {
			padding-top: 50px;
		}
	}
	.newsletter__success {
		padding: 80px calc((100vw - 1000px) / 2) 80px 0;
		@include flex('column');
		justify-content: center;
		.process__step {
			padding: 30px 0 39px 40px;
			width: 520px;
			img {
				width: 22px;
			}
		}
		.button {
			margin-top: 50px;
		}
		display: none;
	}
	.newsletter__process {
		margin-top: 50px;
		@include flex('row');
		justify-content: flex-start;
		column-gap: 50px;
	}
	.process__step {
		padding: 28px 0 34px 32px;
		padding: 28px 0 37px 33px;
		background-image: url(../img/elements/newsletter_steps_background.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}
	form {
		margin-top: 40px;
		width: 520px;
		p:not(.new__checkbox) {
			@include input;

			label {
				@include label;
			}
		}
		.new__checkbox {
			padding-top: 15px;
			label {
				font-size: 13px;
				a {
					color: $accent;
					text-decoration: underline;
				}
			}
		}
		input[type='submit'] {
			margin-top: 10px;
		}
		.sib_signup_box_inside_1 {
			@include flex('column');
			align-items: stretch;
			row-gap: 20px;
		}
		.sib_msg_disp {
			color: $red;
		}
	}
}
