.bilder__slider {
    // .swiper-wrapper{
    //     transition-timing-function : linear;
    // }
    // .swiper-slide {
    //     width: fit-content;
    // }
    img {
        margin-right: 35px;
        height: 280px;
        border-radius: 25px;
        box-shadow: 6px 6px 30px rgba(black, 10%);
    }
}