$shadow--calendar: 2px 2px 12px 0px rgba(0, 0, 0, 0.06);
$transition: all 200ms ease-in-out;

button {
	border: none;
	outline: none;
}

/*------------------------------------*/
/* Content layout */
/*------------------------------------*/
.hero-rounded--date-overview {
	.hero-rounded__content {
		min-height: 393px;
		@include flex('row');
		gap: 100px;
	}

	.hero-rounded__text {
		margin: 40px 0 150px;
	}

	.date-overview__calendar {
		width: clamp(400px, 50vw, 490px);
		min-width: clamp(400px, 50vw, 490px);
	}
}

.date-overview__content {
	margin-top: 32px;
	display: grid;
	grid-template-columns: 1fr clamp(400px, 50vw, 490px);
	grid-gap: 48px $gap;

	.date-overview__list {
		grid-row-start: 2;
	}

	.date-overview__selector {
		grid-row-start: 2;
		margin-right: 1.25rem;
	}

	.date-overview__filter {
		grid-column-start: 2;
	}
}

/*------------------------------------*/
/* Responsive */
/*------------------------------------*/
@include bp-lower($screen) {
	.hero-rounded--date-overview {
		.hero-rounded__content {
			gap: 40px;
		}
	}

	.date-overview__content {
		.date-overview__selector {
			margin-right: 0;
		}
	}
}

@include bp-lower($desktop) {
	.hero-rounded--date-overview {
		.hero-rounded__content {
			min-height: unset;
			flex-direction: column;
			gap: 32px;
		}

		.hero-rounded__text {
			margin: 0;
		}

		.date-overview__calendar {
			width: 100%;
			min-width: unset;
		}
	}

	.date-overview__content {
		grid-template-columns: 1fr;
		margin-top: $gap;
		gap: $gap;

		.date-overview__list,
		.date-overview__selector,
		.date-overview__filter {
			grid-row: unset;
			grid-column: unset;
		}

		.date-overview__list {
			margin-top: 16px;
		}

		.date-overview__selector {
			margin-top: 38px;
		}

		.date-overview__filter {
			grid-row: 1;
		}
	}
}

/*------------------------------------*/
/* Parts */
/*------------------------------------*/
// Calendar
.date-overview__calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1px;
	background-color: #e5e7eb;
	box-shadow: $shadow--calendar;
	border: 1px solid #e5e7eb;
	border-radius: 16px;
	text-align: center;
	@include fluid-type(11px, 14px);
	overflow: hidden;

	&__prev,
	&__next,
	&__weekday,
	&__day {
		aspect-ratio: 3/2;
		max-height: 48px;
		min-width: 100%;
		@include flex('center');
		background: white;
		transition: $transition;
	}

	&__prev,
	&__next {
		grid-column: span 1;
		background-color: #f9fafb;
		cursor: pointer;
		position: relative;
		z-index: 10;

		&:hover {
			background-color: #e5e7eb;
		}

		&:is(.swiper-button-disabled) {
			opacity: 0.2;
		}
	}

	&__month {
		grid-column: span 5;
		@include flex('center');
		background-color: #f9fafb;
		font-weight: 800;
		line-height: 1;
		text-transform: uppercase;
	}

	&__month-slider {
		.swiper-slide {
			width: min-content;
			white-space: nowrap;
			transition: $transition;
			transition-property: opacity;

			&:not(:is(.swiper-slide-active)) {
				opacity: 10%;
			}
		}
	}

	&__weekday {
		background: #f9fafb;
		border-bottom: 1px solid #e5e7eb;

		span {
			margin: auto;
			@include flex('center');
			width: 28px;
			aspect-ratio: 1;
			@include fluid-type(10px, 12px);
			font-weight: 700;
		}
	}

	&__days {
		grid-column: span 7;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 1px;
	}

	&__day {
		time {
			display: block;
			margin: auto;
			aspect-ratio: 1;
			height: 28px;
			max-height: 80%;
			@include flex('center');
		}

		&.--filled:not(.--past),
		&.--today {
			background-color: #ffffff;
			color: #1f2937;
			cursor: pointer;
			transition: $transition;

			&:hover {
				background-color: #f3f4f6;
			}

			time {
				border-radius: 30%;
				color: white;
				font-weight: 600;
				position: relative;
				overflow: hidden;
			}

			span {
				z-index: 1;
			}

			.date-overview__calendar__day__slide__color-container {
				position: absolute;
				display: flex;
				inset: 0;
				transform: rotate(45deg) scale(1.25);
				pointer-events: none;
				background-color: #e5e7eb;
			}
		}

		&.--today {
			time {
				background: $main;
			}
		}

		&.--empty {
			background-color: #ffffff;
			color: #1f2937;
			cursor: default;
		}

		&.--other-month {
			background-color: #f9fafb;
			color: #9ca3af;
			cursor: default;
		}

		// Hide the color slice for the past days
		&.--past {
			.date-overview__calendar__day__color-slice {
				display: none;
			}
		}

		&__color-slice {
			height: 100%;
			width: 1px;
			flex-grow: 1;
			background-color: currentColor;

			&[data-active='false'] {
				display: none;
			}
		}

		// Disable pointer events for past and inactive days
		&.--past,
		&[data-active='false'] {
			pointer-events: none;
		}
	}
}

// Product selector
.date-overview__selector {
	height: min-content;
	grid-row-start: 2;
	border: 1px solid #e5e7eb;
	border-radius: 25px;
	color: #4f46e5;
	box-shadow: $shadow--calendar;
	position: relative;

	label {
		padding: 1.25rem;
		width: calc(100% + 2px);
		@include flex('row');
		align-items: center;
		gap: 1.75rem;
		background-color: #ffffff;
		box-shadow: $shadow--calendar;
		border-radius: 25px;
		border: 1px solid #e5e7eb;
		position: relative;
		inset: -1px;
		z-index: 1;

		// Hide the weekday selector
		margin-bottom: -2px;
		box-shadow: none;

		.image {
			width: 96px;
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: #f9fafb;
			border: 1px solid #e5e7eb;
			overflow: hidden;
			position: relative;

			img {
				@include pos('cover');
				object-fit: cover;

				// hide when src is empty
				&[src=''] {
					display: none;
				}
			}
		}

		.text {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: 0.625rem;
			align-items: flex-start;

			.title {
				color: $main;
				font-weight: 800;
				text-transform: uppercase;
				@include fluid-type(16px, 20px);
				line-height: 125%;
			}

			.category {
				background-color: $main;
				color: white;
				text-transform: uppercase;
				font-weight: bold;
				padding: 0.375rem 0.75rem;
				border-radius: 0.375rem;
				@include fluid-type(9px, 10px);

				&:empty {
					display: none;
				}
			}
		}

		.icon {
			margin-right: 0.5rem;
		}

		select {
			position: absolute;
			inset: 0;
			opacity: 0;
			cursor: pointer;
		}

		&.--sceleton {
			.image,
			.text {
				opacity: 0;
			}

			.icon {
				opacity: 20%;
			}
		}
	}

	.weekdays {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
		gap: 0.75rem;
		margin-top: -0.625rem;
		padding: 1.25rem;
		padding-top: 1.75rem;
		background-color: #f9fafb;

		button {
			flex: 1;
			border: solid 2px currentColor;
			padding: 0.625rem 1rem;
			border-radius: 8px;
			background: transparent;
			transition: $transition;

			span {
				font-weight: 600;
				color: currentColor;
				transition: $transition;
			}

			&:hover,
			&.--active {
				background: currentColor;

				span {
					color: white;
				}
			}

			&:active {
				filter: brightness(0.9);
				transition: none;
			}
		}

		&:empty {
			display: none;
		}
	}

	.cta {
		padding: 12px 20px calc(12px + 25px);
		@include flex('row');
		align-items: center;
		gap: 8px;
		border-radius: 16px 16px 0 0;
		background: $main;
		@include fluid-type(9px, 10px);
		font-weight: 700;
		text-transform: uppercase;
		color: white;
		position: absolute;
		left: 0;
		bottom: calc(100% - 25px);
	}
}

// Category filter
.date-overview__filter {
	@include flex('row');
	flex-wrap: wrap;
	justify-content: center;
	gap: 8px 16px;

	&__button {
		display: flex;
		align-items: center;
		gap: 0.625rem;
		cursor: pointer;

		.dot {
			position: relative;
			width: 0.625rem;
			height: 0.625rem;
			aspect-ratio: 1/1;
			background-color: currentColor;
			border-radius: 50%;
			transform: scale(0.8);
			transition: transform 0.2s ease-in-out;

			div {
				border: 2px solid currentColor;
				border-radius: 50%;
				position: absolute;
				inset: -4px;
				opacity: 0;
			}
		}

		.label {
			gap: 0.3125rem;
			display: flex;
			align-items: baseline;
			@include fluid-type(12px, 14px);
			color: $main;

			b {
				font-weight: 800;
				text-transform: uppercase;
			}

			span {
				font-weight: normal;
			}
		}

		&.--inactive {
			opacity: 0.2;
		}

		&.--selected {
			.dot {
				scale: 90%;

				div {
					opacity: 1;
				}
			}
		}
	}
}

// Dates list
.date-overview__list {
	width: 100%;
	flex: 1;
	margin-left: auto;
	display: flex;
	flex-direction: column;

	&__month {
		margin-top: 46px;
		margin-bottom: 4px;
		@include flex('row');
		align-items: center;
		gap: 8px;

		&:first-child {
			margin-top: 0;
		}

		span {
			font-size: 14px;
			font-weight: 800;
			text-transform: uppercase;
			line-height: 1;
		}

		div {
			width: 1px;
			height: 1px;
			flex-grow: 1;
			background-color: #e5e7eb;
		}
	}

	&__item {
		margin-top: 16px;
		@include flex('row');
		align-items: stretch;
		background-color: #ffffff;
		border-radius: 16px;
		border: 1px solid #e5e7eb;
		box-shadow: $shadow--calendar;
		position: relative;

		.date {
			padding: 14px 20px;
			width: 80px;
			@include flex('column');
			justify-content: center;
			align-items: center;
			gap: 6px;
			background-color: #f9fafb;
			border-right: 1px solid #e5e7eb;
			text-transform: uppercase;
			line-height: 1;
			border-radius: 16px 0 0 16px;

			.day {
				color: $main;
				@include fluid-type(16px, 22px);
				font-weight: 700;
				translate: 0 -1px;
			}

			.month {
				color: #9ca3af;
				@include fluid-type(9px, 12px);
				font-weight: 600;
			}
		}

		.content {
			flex: 1;
			padding: 21px 20px 21px 24px;
			@include flex('row');
			justify-content: space-between;
			align-items: center;
			gap: 16px;

			.text {
				@include flex('column');
				gap: 8px;
				text-transform: uppercase;
				line-height: 1rem;
				font-weight: 800;

				.title {
					color: $main;
					@include fluid-type(14px, 16px);

					&:hover {
						text-decoration: underline;
					}
				}

				.category {
					color: currentColor;
					@include fluid-type(11px, 14px);

					&:empty {
						display: none;
					}
				}
			}

			.buttons {
				@include flex('row');
				gap: 12px;

				.filter,
				.book {
					padding: 0;
					width: 36px;
					aspect-ratio: 1;
					@include flex('center');
					border-radius: 8px;
				}

				.filter {
					background-color: #f9fafb;
					border: 1px solid #e5e7eb;
				}

				.book {
					color: currentColor;
					background: currentColor;
				}
			}
		}

		&:after {
			content: '';
			width: calc(100% + 14px);
			height: calc(100% + 14px);
			border: solid 3px currentColor;
			border-radius: 22px;
			@include pos('center');
			pointer-events: none;
			opacity: 0;
		}

		// Animation: one time scale up
		&.--highlight {
			&:after {
				animation: show-border 4s ease-in-out 1;
			}
		}

		@keyframes show-border {
			0% {
				opacity: 0;
			}
			10% {
				opacity: 1;
			}
			80% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}

		&.--sceleton {
			margin-top: 0;
			height: 82px;

			& + .--sceleton {
				margin-top: 16px;
			}
		}
	}

	&__empty-state {
		margin-top: 16px;
		padding: 20px;
		text-align: center;
		background: $lightgray;
		border-radius: 16px;
		border: 1px solid #e5e7eb;
		color: $text--soft;
	}
}

/*------------------------------------*/
/* Responsive */
/*------------------------------------*/
@include bp-higher($desktop) {
	.date-overview__calendar {
		&__prev,
		&__next,
		&__weekday,
		&__day {
			max-height: unset;
			min-height: 48px;
			aspect-ratio: unset;
		}
	}
}

@include bp-lower($tablet) {
	.date-overview__calendar {
		&__prev,
		&__next,
		&__weekday,
		&__day {
			aspect-ratio: 4/3;
			max-height: 42px;
		}
	}

	.date-overview__selector {
		label {
			padding: 16px;
			gap: 16px;

			.image {
				width: 64px;
			}

			.text {
				gap: 6px;

				.category {
					padding: 4px 8px;
				}
			}

			.icon {
				margin-right: 5px;
				width: 10px;
			}
		}

		.cta {
			padding: 11px 16px 36px;
			gap: 6px;
			line-height: 1;
		}
	}

	.date-overview__list {
		&__item {
			margin-top: 10px;

			.date {
				padding: 16px;
				width: 50px;
			}

			.content {
				padding: 14px 14px 12px 16px;

				.text {
					gap: 4px;
				}

				.buttons {
					gap: 8px;

					.filter,
					.book {
						svg {
							width: 14px;
						}
					}
				}
			}
		}
	}
}

.--sceleton {
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		height: 100%;
		width: 300px;
		background: linear-gradient(
			to right,
			rgba(0, 0, 0, 0) 0,
			rgba(0, 0, 0, 8%) 150px,
			rgba(0, 0, 1, 0) 300px
		);
		position: absolute;
		top: 0;
		left: -300px;
		animation: pulse 1.5s linear 0.5s infinite;

		// move the gradient
		@keyframes pulse {
			0% {
				left: -300px;
			}
			100% {
				left: 150%;
			}
		}
	}
}
