/*------------------------------------*/
/* ACF Block: Produktslider */
/*------------------------------------*/
.produktslider {
	&__header {
		margin-bottom: 40px;
		@include flex('row');
		justify-content: space-between;
		align-items: flex-end;

		.button {
			transform: translateY(-3px);
		}
	}

	// Overflow fix
	.slider__container {
		margin: auto;
		max-width: $wrapper-width;
		position: relative;
	}

	// Slider
	.swiper {
		@include inner;
		overflow: visible !important;

		.swiper-wrapper {
			overflow: visible !important;
		}
	}

	.swiper-slide {
		height: auto;

		.product {
			width: 100%;
		}
	}

	.swiper-slide.category-slide {
		background-color: white;
		border-radius: 20px;
		@include box-shadow;
		overflow: hidden;
		position: relative;
		aspect-ratio: 0.685;

		* {
			transition: $ease_standard 300ms;
		}

		img,
		.item__background {
			height: 100%;
			width: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}

		.item__title {
			padding: 0 30px 28px 30px;
			width: 100%;
			color: white;
			-webkit-text-stroke-color: white;
			word-wrap: break-word;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
		}

		.item__gradient {
			height: 180px;
			width: 100%;
			background-image: linear-gradient(
				to top,
				rgba($main, 100%) 0%,
				rgba($main, 80%) 40%,
				rgba($main, 0%) 100%
			);
			background-repeat: no-repeat;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	/*------------------------------------*/
	/* Responsive */
	/*------------------------------------*/
	@include bp-lower($desktop) {
		.produktslider__header {
			align-items: flex-start;
			flex-direction: column;
			gap: 15px;

			.button {
				transform: none;
			}
		}

		.slider__container {
			margin-top: 40px;
		}

		.swiper-slide.category-slide {
			.item__title {
				@include h4;
				padding: 0 22px 20px 22px;
				color: white;
			}
		}
	}

	@include bp-higher($tablet) {
		.swiper-slide {
			&:hover,
			&:active {
				.item__background {
					transform: scale(1.02);
				}
				.item__title {
					line-height: 1.1em;
					transform: translateY(-5px);
				}
				.item__gradient {
					opacity: 0.9;
				}
			}
		}
	}

	@include bp-lower($mobile) {
		.slider__container {
			margin: 0;
			max-width: 100%;
		}

		.swiper-slide {
			width: 250px;
			max-width: $wrapper-width;
		}
	}
}
