.usp__list {
    @include flex-row();
    flex-wrap: wrap;
    row-gap: 60px;
    .overview__item {
        padding: 65px 40px 45px;
        width: calc(50% - 25px);
        border-radius: 25px;
        @include box-shadow();
        position: relative;
        div {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: $accent;
            position: absolute;
            left: 40px;
            top: -35px;
            img {
                height: 35px;
                @include pos-center();
            }
        }
        h3 {
            padding-top: 0;
        }
        h6, a {
            color: $accent;
        }
        &:nth-child(2),
        &:nth-child(3) {
            div {
                background-color: $accent;
            }
            h6, a {
                color: $accent;
            }
        }
    }
    @media only screen and (max-width: $screen) {
        .overview__item {
            width: calc(50% - 10px);
        }
    }
    @media only screen and (max-width: $desktop) {
        row-gap: 45px;
        .overview__item {
            padding: 55px 30px 35px;
            div {
                height: 60px;
                width: 60px;
                left: 30px;
                top: -30px;
                img {
                    height: 30px;
                }
            }
            p {
                padding-top: 20px;
            }
        }
    }
    @media only screen and (max-width: $tablet) {
        .overview__item {
            width: 100%;
        }
    }
    @media only screen and (max-width: $mobile) {
        .overview__item {
            padding: 50px 25px 35px;
            div {
                left: 25px;
            }
        }
    }
}